[2020-07-05 08:26] jwva opened #360 "10m roads: Mexico, Cancún to Cozumel is "Ferry Route""
In the 10m roads, the "unknown" type road on water from Cancún to Cozumel should be of type "Ferry Route".

[2020-07-05 12:12] TomasJohansson opened #361 "Explicit license applicable worldwide e.g. CC0 instead of "public domain""
Would you mind releasing naturalearthdata with an explicit *WORLDWIDE* applicable license instead of "public domain" (e.g. I believe a CC0 license would be appropriate)?
I am not very skilled regarding licenses but as far as I understand the "public domain" is not applicable worldwide.

Quote from https://wiki.creativecommons.org/wiki/public_domain :
"
Works that are in the public domain in one le

[2020-07-09 05:35] jwva opened #362 "10m populated places: Xian, China should be Admin-1 capital"
The populated place of Xian, China, is the Admin-1 capital of Shaanxi, but is now registered as 'Populated place'.

[2020-07-09 05:37] jwva opened #363 "10m admin1 poly label Moskovsskaya misspelling"
In the 10m admin1 poly labels, Moskovsskaya (Russia) should be with one s, i.e. "Moskovskaya".

[2020-07-10 14:51] nvkelso commented on #363
Thanks for all the reports! I'm a little backed up right now but hope to make the corrections soon. In the meantime, please keep the reports coming, I appreciate them :)

[2020-07-11 05:38] jwva opened #364 "10m places: Johannesburg, South Africa is not Admin-0 capital"
In the 10m places dataset, Johannesburg (South Africa) is now listed as Admin-0 capital. However, it is an Admin-1 capital. South Africa already has three Admin-0 capitals (Pretoria, Cape Town, Bloemfontein) and really doesn't need a fourth... ;-)

[2020-07-11 05:40] jwva opened #365 "10m places: Bandar Lampung (Sumatra, Indonesia) is listed twice"
In the 10m places dataset, Bandar Lampung (Sumatra, Indonesia) is listed twice: once as an Admin-1 capital (correctly), and once as a "Populated place" with the exact same population. The latter ought to be removed.

[2020-07-11 05:47] jwva commented on #363
Hi Nathaniel, thank you for the "sign of life". No sweat, please don't feel pressured. I must say you've done a marvelous job with Natural Earth data. Highly usable. Congratulations, keep it up! I'm a Dutch data scientist and cartographer myself, and I'm already enjoying the flexibility of this data in map-making. Shortly I'd like to make some contributions to the data myself, especially in India/

[2020-07-11 16:58] jwva opened #366 "10m places: misspelling of Akureyri (Iceland)"
In the 10m places dataset, Iceland contains Akureyi; however, the correct spelling is Akureyri. https://en.wikipedia.org/wiki/Akureyri

[2020-07-11 17:24] jwva opened #367 "10m places: Novi Sad (Vojvodina, Serbia) is Admin-1 capital"
In the 10m places dataset, Novi Sad (Vojvodina, Serbia, Europe) is listed as Admin-0 capital, but it is actually an Admin-1 capital. https://en.wikipedia.org/wiki/Vojvodina

[2020-07-12 17:17] jwva opened #368 "10m places: Patra (Dytiki Ellada, Greece) is an Admin-1 capital"
In the 10m places dataset, Patra (Dytiki Ellada, Greece) is listed as "Ppopulated place"; however, it is the administrative capital of Dytiki Ellada, and should therefore be listed as "Admin-1 capital".

[2020-07-14 04:07] jwva opened #369 "10m places: misspelling of Liupanshui, Guizhou, China"
In the 10m places dataset, the city of Liupanshui (Guizhou, China) is misspelled as Lupanshui. https://en.wikipedia.org/wiki/Liupanshui

[2020-07-14 06:34] geraldmashange opened #370 "Unable to download files"
Shapefiles from http://www.naturalearthdata.com/downloads/ cannot be downloaded. Page tries to connect to the host site then fails.

[2020-07-14 10:00] emileten commented on #370
@geraldm7 same here.

[2020-07-15 08:22] jwva opened #371 "10m places: Macau and Hong Kong (China) are Admin-1 capital, not Admin-0"
In the 10m places dataset, although Macau and Hong Kong (China) are special administrative regions, they are both part of the People's republic of China. They are now listed as Admin-0 capital; however, they should be listed as Admin-1 capital.

https://en.wikipedia.org/wiki/Macau
https://en.wikipedia.org/wiki/Hong_Kong

[2020-07-15 20:45] andydamico opened #372 "Unable to Download"
I am unable to download any of the 1:10m physical vectors, specifically: http://naciscdn.org/naturalearth/10m/physical/10m_physical.zip

[2020-07-16 00:31] mackenziejewell commented on #372
I am currently having this same issue.

[2020-07-16 00:32] stragu commented on #372
Same here, downloads fail, with status "Couldn't connect to server". The top domain where the files are hosted can't be reached, it times out: http://naciscdn.org

[2020-07-16 00:58] rrbuchholz commented on #372
I am also having the same issue with the 110m. It fails either via cartopy or any via https://www.naturalearthdata.com/

[2020-07-16 01:53] nvkelso commented on #372
The files can be downloaded directly from this GitHub repo.

I’ll investigate why the website downloads aren’t working...

[2020-07-16 06:27] stragu commented on #372
I've notified nacis.org about it a few hours ago, they replied saying they would look into it.

[2020-07-16 11:05] conorsy commented on #372
same problem here

[2020-07-16 17:06] jwva opened #373 "10m places: Vila Velha (Amapá, Brazil) of over 1M people is nonexistent"
Vila Velha in Amapá, Brazil (not to be confused with Vila Velha, Espírito Santo, Brazil), listed as having over a million people, seems to be nonexistent. I cannot find any other source that mentions this location. Suggestion: remove this location.
https://en.wikipedia.org/wiki/Vila_Velha

[2020-07-17 04:27] jwva opened #374 "10m places: misspelling of Amundsen-Scott South Pole Station"
In the 10m places dataset, in Antarctica, Amundsen-Scott South Pole Station is misspelled as AmundseniScott South Pole Station.
https://en.wikipedia.org/wiki/Amundsen%E2%80%93Scott_South_Pole_Station

[2020-07-17 07:16] jwva opened #375 "10m rivers: Huang (at Dongying, China) stopt just short of the Bo Hai"
In the 10m rivers data set, the Huang river stops just before it reaches the Bo Hai. Suggestion: extend the river line to touch the coast line.

[2020-07-17 09:26] Andrettin commented on #373
@jwva There is a Vila Velha district of the municipality of Oiapoque in Amapá:
https://pt.wikipedia.org/wiki/Vila_Velha_(Oiapoque)

But it doesn't have anything near over a million people, being listed as having just 2,723 inhabitants.

[2020-07-17 09:29] jwva opened #376 "10m region points: misspelling of Cabo de Sao Vicente, Portugal"
In the 10m region points dataset, Cabo de Sao Vicente (southwestern Portugal) is misspelled as Cabo de Sao Vicentete.
https://en.wikipedia.org/wiki/Cape_St._Vincent

[2020-07-17 09:36] Andrettin commented on #358
I wasn't able to find any sources corroborating its existence, either.

[2020-07-17 17:47] jwva commented on #373
@Andrettin Thanks for the comment. Your link, however, pertains to a district, not a populated place. The Natural Earth dataset contains an entry for a "Populated place" of over 1 million people on that location. That populated place is nonexistent there.

[2020-07-18 14:38] jwva opened #377 "10m places: Makkah (Saudi Arabia) should be Admin-1 capital"
In the 10m places dataset, Makkah (Mecca, Saudi Arabia) is listed as a "Populated place"; however, it is the Admin-1 capital of Makkah region:
https://en.wikipedia.org/wiki/Mecca_Region

[2020-07-22 11:39] jwva opened #378 "10m roads: Indonesia, road bridge from Sumatra to Java should be Ferry Route"
In the 10m roads dataset, the road (bridge) in Indonesia from Sumatra to Java is typed "unknown", but there is no bridge (as yet). Type should therefore be "Ferry Route".
https://en.wikipedia.org/wiki/Sunda_Strait_Bridge

[2020-07-23 12:35] M-zy opened #379 "RESOLUTION REQUIRED PER ACCEPTANCE"
T
![Uploading F1C288FA-89F2-4D92-841F-
![B24FEBD6-C6A9-46EE-B415-D15EAF10FFB6](https://user-images.githubusercontent.com/68639476/88286805-0d6a7080-cd3d-11ea-8565-68508235b48a.png)
![9CC53BFB-FDE7-43E7-99C9-2ABB97D35755](https://user-images.githubusercontent.com/68639476/88286808-0e030700-cd3d-11ea-9cfe-03b29e07a762.png)
![BFA5D36A-5109-4EBC-B7EA-454758508B86](https://user-images.githubusercontent

[2020-07-23 15:28] jwva opened #380 "10m places: misspelling of Sevastopol, Crimea, Russia/Ukraine"
In the 10m places dataset, the Admin-1 capital of Sevastopol is misspelled as Sevastapol.
https://en.wikipedia.org/wiki/Sevastopol

[2020-07-23 15:52] #379 closed

[2020-07-24 13:10] jwva opened #381 "10m places: Yangon, Myanmar, should be Admin-1 capital, not Admin-0"
In the 10m places data set, Rangoon (I would suggest to rename it to Yangon, the official name) is listed as one of the Admin-0 capitals of Myanmar. However, it lost that title in 2006. It is now an Admin-1 capital.
https://en.wikipedia.org/wiki/Yangon

[2020-07-24 18:44] jwva opened #382 "10m regional (elevation) geographic points: misspelling of Pico Cristóbal Colón, Colombia"
In the 10m regional geographic points, the mountain called Pico Cristóbal Colón in northern Colombia is misspelled as Pico Cristobol Colón.
https://en.wikipedia.org/wiki/Pico_Crist%C3%B3bal_Col%C3%B3n

[2020-07-25 07:28] jwva opened #383 "10m places: Shijiazhuang, China, should be Admin-1 capital"
In the 10m places dataset, Shijiazhuang is listed as type "Populated place". However, it is the capital of the Hebei province, and therefore should be listed as Admin-1 capital.
https://en.wikipedia.org/wiki/Shijiazhuang

[2020-07-25 07:29] jwva opened #384 "10m places: Zhengzhou, China, should be Admin-1 capital"
In the 10m places dataset, Zhengzhou (China) is listed as type "Populated place". However, it is the capital of the Henan province of China. It should therefore be listed as "Admin-1 capital". Also, its population is now over 5 million people.
https://en.wikipedia.org/wiki/Zhengzhou

[2020-07-25 08:39] jwva opened #385 "10m places: Lagos, Nigeria, Africa should not be an Admin-0 capital"
In the 10m places dataset, Lagos (Nigeria, Africa) is listed as Admin-0 capital. However, the capital of Nigeria is Abuja. It is the capital of Lagos State within Nigeria. It should therefore be listed as Admin-1 capital.

[2020-07-25 09:20] nvkelso commented on #385
Huh, Is there note in the admin cap notes field about why it might have been marked thus? Agree with change.

[2020-07-25 10:08] jwva commented on #385
Hi,

Unfortunately not. The available filled-in note text says “Location adjusted. Changed scale rank.”

Btw great to experience you back again. I hope things are quieting down a bit for you.

Regards,

JWvA

From: Nathaniel V. KELSO <notifications@github.com>
Sent: Saturday, 25 July 2020 11:20
To: nvkelso/natural-earth-vector <natural-earth-vector@noreply.github.com>
Cc: jwva <geo@imergis.nl>; Au

[2020-07-25 23:39] jingkai02 opened #386 "10m airports: Haneda Airport, Suvarnabhumi Airport missing from Airport list"
The data for Haneda Airport and Suvarnabhumi Airport is not in the list of airports in the 1:10m data

[2020-07-26 17:41] jwva opened #387 "10m places: Tomakomai (Hokkadio, Japan) is not an Admin-1 capital"
In the 10m places dataset, both Sapporo and Tomakomai are listed as Admin-1 capital of the Hokkaido Prefecture in Japan. However, Sapporo is the Admin-1 capital. Tomakomai should therefore be listed as "Populated place".
https://en.wikipedia.org/wiki/Tomakomai,_Hokkaido

[2020-07-27 07:54] jwva opened #388 "10m places: Kyoto (Japan) is not the Admin-0 capital"
In the 10m places dataset, Kyoto (Japan) is listed as an Admin-0 capital, as is Tokyo. However, although Kyoto is considered to be the cultural capital of Japan, Tokyo is the only administrative country capital. As Kyoto is the capital of the Kyoto prefecture, it should be listed as Admin-1 capital.
https://en.wikipedia.org/wiki/Kyoto

[2020-07-29 17:12] jwva opened #389 "10m places: Dar es Salaam (Tanzania) is not the Admin-0 capital"
In the 10m places dataset, both Dar es Salaam and Dodoma are listed as Admin-0 capital of Tanzania, with Dar es Salaam as the "de facto" capital. However, according to Wikipedia, Dodoma is the sole Admin-0 capital of Tanzania. Therefore, Dar es Salaam should be listed as Admin-1 capital.
https://en.wikipedia.org/wiki/Dar_es_Salaam

[2020-07-30 21:15] Lukpawlik opened #390 "map of Ukraine mistake"
I've just found a big mistake in the map of Ukraine and Russia. As far as I know, Crimea still belongs to Ukraine. Please correct.

[2020-08-03 12:47] followtheblackrabbit opened #391 "Bug with Crimea."
Crimea is part of Russia on your map. But this is not true. Crimea is Ukraine. I'm sure this is a bug, can you fix it?

[2020-08-03 16:32] Maxszik commented on #391
A search brings [this](https://github.com/nvkelso/natural-earth-vector/issues/302) and [this](https://github.com/nvkelso/natural-earth-vector/issues/177). I guess the creator is following the osm.org [on the ground rule](https://wiki.openstreetmap.org/wiki/Disputes#On_the_Ground_Rule), but we’ll have to wait for him to reply.

[2020-08-05 09:21] med1960 opened #392 "Les régions du Maroc"
Merci pour le grand travail que vous faites pour la communauté.
J'ai une remarque sur le découpage administrative du Maroc. Les régions que vous avez sur vos cartes sont de 16 régions et nombre de communes a changé aussi, alors que actuellement le Maroc compte seulement 12 régions.
Voici le lien pour le nouveau découpage:
https://www.saidgis.com/%D9%85%D8%B9%D9%84%D9%88%D9%85%D9%8A%D8%A7%D8%AA/ite

[2020-08-06 03:00] nvkelso commented on #392
Thanks for the feedback! Will have a look at the regions of Morocco for next release.

[2020-08-11 12:11] Monstrofil commented on #391
@nvkelso could you please explain your changes of Ukraine/Russia border? As far as I know, only several countries recognise Crimea as part of Russia, while others, including EU and US, not.

[2020-08-11 16:49] nvkelso commented on #391
It's not a bug. **Natural Earth** follows the "on the ground" rule. Specifically ([source](https://www.naturalearthdata.com/about/map-update-committee/)):

That said, we recognize this doesn't work for everyone (either for Crimea or a surprising number of border disputes around the world) so we are working on v5 which will offer pre-built admin-0 country themes and extra properties in the disputed

[2020-08-14 20:42] Nate-Wessel opened #393 "2019 reorganization of Indian states and union territories"
These two Indian union territories
* [Dadra and Nagar Haveli](https://en.wikipedia.org/wiki/Dadra_and_Nagar_Haveli)
* [Daman and Diu](https://en.wikipedia.org/wiki/Daman_and_Diu)

were merged in 2019 to create a single entity called [Dadra and Nagar Haveli and Daman and Diu](https://en.wikipedia.org/wiki/Dadra_and_Nagar_Haveli_and_Daman_and_Diu)

Also in 2019, the state of Jammu and Kashmir was sp

[2020-08-14 20:54] Nate-Wessel opened #394 "Rename Indian state Orissa -> Odisha"
This was changed by the legislature in 2010. See: https://en.wikipedia.org/wiki/Odisha#Etymology

[2020-08-14 21:31] Nate-Wessel opened #395 "Rename Indian state Uttaranchal -> Uttarakhand"
Officially renamed in 2006. See https://en.wikipedia.org/wiki/Uttarakhand#Etymology

[2020-08-14 22:04] Nate-Wessel opened #396 "Separate Telangana from Andhra Pradesh"
From 2014: See e.g.
* https://www.news18.com/news/politics/andhra-pradesh-split-indias-29th-state-telangana-is-born-691955.html
* https://en.wikipedia.org/wiki/Telangana

[2020-08-15 15:10] jwva opened #397 "Misspelling of island polygon feature "Ryükyü Islands""
The island polygon feature of "Ryükyü Islands" southwest of Japan is misspelled as "Ryükyü Isands" in the data.

[2020-08-16 11:52] jwva opened #398 "Places: Ujungpandang, Indonesia, is now Makassar"
In the Places table, the populated place of Ujungpandang (Sulawesi, Indonesia) is officially called Makassar since 1999. In addition, it is not only a "Populated place", it is the "Admin-1 capital" of South Sulawesi.
https://en.wikipedia.org/wiki/Makassar

[2020-08-17 05:09] nvkelso commented on #396
Thanks for these issues, please keep them coming!

If I might ask, what mapping project are you working on that takes you to this part of the world?

[2020-08-17 12:44] Nate-Wessel commented on #396
@nvkelso I'm making a variety of policy-related maps for the Asia Pacific Foundation of Canada. We've got people tracking quite a few Asian countries, so you may well be getting more updates from me in the future as we start to do more to add a spatial component to our publications :-)

Thanks for your work on this!

[2020-08-18 21:00] almccon opened #399 "Wrong name_en value for Puebla, Mexico"
For the city of Puebla, the `name_en` field has "Puebla Garcia" but I can find no other references to this being the preferred name of the city in English, nor any references to that as an alternate name. Neither Wikipedia nor OpenStreetMap show "Puebla Garcia" as an alternate name for Puebla.

![Screen Shot 2020-08-18 at 4 41 12 PM](https://user-images.githubusercontent.com/1212178/90565100-582ca

[2020-08-18 21:25] nvkelso commented on #399
This is pulled from Wikidata. Once it's fixed there, the next script run & Natural Earth release would pick it up.

[2020-08-19 01:17] almccon commented on #399
Ok, great. It looks like it was fixed in Wikidata on 15 October 2018: https://www.wikidata.org/w/index.php?title=Q125293&type=revision&diff=764573387

And the error was introduced by an anonymous editor on 21 April 2018: https://www.wikidata.org/w/index.php?title=Q125293&type=revision&diff=667550857

[2020-08-20 17:30] rajmohan006 opened #400 "Not able to find United States of America in the 10m Countries and State maps"
Not able to find United States of America in the 10m Countries and State maps

[2020-08-20 18:16] nvkelso commented on #400
What webpage and/or file are you looking for the USA in?

[2020-08-20 18:38] rajmohan006 commented on #400
I downloaded the "ne_10m_admin_0_countries.zip" file and then trying to create a map for US only in the mapbox website. If i go to the filter to create a filter on the country name, i do not find USA or Canada in the list.

[2020-08-20 20:07] nvkelso commented on #400
I'm still not following. Can you include screenshot and reproduction steps, please?

[2020-08-20 20:24] rajmohan006 commented on #400
![image](https://user-images.githubusercontent.com/48454634/90821772-10835d00-e2f9-11ea-85dd-f544c53b3e41.png)

Please see the enclosed image where i am trying to add filter for United States but it does not show it in the list of available options.

[2020-08-20 21:49] nvkelso commented on #400
The feature is there in the preview map. Please followup directly with Mapbox Support, sounds like oddness in their software.

[2020-08-20 21:49] #400 closed

[2020-08-21 10:14] rshopa opened #401 "Improper map of Ukraine"
I redirect the [issue](https://github.com/Nowosad/spData/issues/50) about Crimea being treated not as a part of Ukraine, but Russia. This is [not recognised by UN](https://undocs.org/en/A/RES/68/262) and the peninsula is officially considered Ukrainian [by the US govermnent](https://www.state.gov/crimea-is-ukraine-3/) as well, thus ought to be corrected here.

Since most of Map Update Committee re

[2020-08-27 15:09] databayou opened #403 "India-Pakistan frontier issue"
I used ne_10m_admin_0_countries shapefiles to make the following map on tiger habitat: https://databayou.com/tiger/habitat.html. I got a response from a user saying "Indian territory of Jammu & Kashmir, Ladkah regions are shown as part of Pakistan, Which is incorrect." I trust your data, but how can I support this political boundary? I appreciate your help!

[2020-08-27 15:41] nvkelso commented on #403
You can selectively load and filter boundaries and disputed boundaries by adding the “disputed” admin-0 boundaries theme as well.

[2020-08-27 16:16] databayou commented on #403
Thank you!

On Thu, 27 Aug 2020 at 10:41, Nathaniel V. KELSO <notifications@github.com>
wrote:

[2020-08-27 16:48] #403 closed

[2020-08-28 11:04] etoodu opened #404 "Shapefiles for Russia and Ukraine concerning the Crimea peninsula"
The status of the Crimea and of the city of Sevastopol is currently under dispute between Russia and Ukraine; Ukraine and the majority of the international community consider the Crimea to be an autonomous republic of Ukraine and Sevastopol to be one of Ukraine's cities with special status, while Russia, on the other hand, considers the Crimea to be a federal subject of Russia and Sevastopol to be

[2020-08-28 11:14] #404 closed

[2020-09-02 20:39] elliotap opened #405 "10m populated places: North Shore/North Shore City is no longer a city"
North Shore in New Zealand (id: 1159151641) was amalgamated into Auckland in 2010 and no longer exists as a separate administrative entity.

https://en.wikipedia.org/wiki/North_Shore,_New_Zealand#North_Shore_City

[2020-09-02 22:13] elliotap opened #406 "10m populated places: Bose matched incorrectly to wikidata"
Bose (also known as Baise) (ID:1159149783) is matched incorrectly to wikidata, causing discrepancies in name values.

Currently the record is matched to https://www.wikidata.org/wiki/Q92381 - the correct match is to https://www.wikidata.org/wiki/Q571949

[2020-09-02 23:03] elliotap opened #407 "10m populated places: large city Nnewi missing from data set"
Nnewi, Nigeria (population ~390k) is not present in 10m populated places dataset. Requesting it be considered for inclusion at 6.016667, 6.916667

https://en.wikipedia.org/wiki/Nnewi

[2020-09-02 23:30] elliotap opened #408 "10m populated places: Phnom Tbeng Meanchey is the name of a mountain"
Phnom Tbeng Meanchey (ID: 1159120843) is given the name of a mountain. Sources indicate that the correct name for the urbanization is "Preah Vihear"

see: https://www.phnompenhpost.com/video/enjoy-stunning-phnom-tbeng-waterfall
https://en.wikipedia.org/wiki/Preah_Vihear_(town)
https://www.kathmanduandbeyond.com/preah-vihear-cambodia-contentious-angkorian-ruins/ (<- explains situation with temple o

[2020-09-02 23:54] elliotap opened #409 "10m populated places: request for location adjustments"
Requesting adjustment to point location for several populated places:

Tizi Ouzou (ID:1159120991) - closer to 36.716667, 4.05 (https://en.wikipedia.org/wiki/Tizi_Ouzou)
Bordj Bou Arréridj (ID:1159121009) - closer to 36.066667, 4.766667 (https://en.wikipedia.org/wiki/Bordj_Bou_Arr%C3%A9ridj)
Paro (ID:1159121163) - closer to 27.433333, 89.416667 (https://en.wikipedia.org/wiki/Paro,_Bhutan)
Punakha (

[2020-09-03 04:48] nvkelso commented on #407
Wikipedia says: `Settled in 1477`! Agree it should be included.

[2020-09-07 10:14] michaeldssnts opened #410 "Swaziland has changed there country name to - Eswatini"
Could you please update your dataset to reflect the latest country name for Swaziland-  It is now called Eswatini

https://www.google.com/search?gs_ssp=eJzj4tDP1TcwKzM2M2D04kgtLk8syczLBAA4cAYK&q=eswatini&oq=eswatini&aqs=chrome.1.69i57j46j69i59l2j0j69i60l2j69i61.3423j0j4&sourceid=chrome&ie=UTF-8

[2020-09-07 15:09] nvkelso commented on #410
What version are you using, and what file?

[2020-09-10 05:53] jwva opened #411 "10m places: Jinxi (Lianoning, China) is now called Huludao"
In the 10m populated places set, Jinxi (in Liaoning, China) is officially known as Huludao since 1994:
https://en.wikipedia.org/wiki/Huludao

[2020-09-10 05:56] jwva opened #412 "10m places: Adjust max population of Korla, China to 770,000"
In Xinjiang Uygur Zizhiqu, China, the city of Korla (south of Ürümqi) is fast-growing: according to Wikipedia, the urban population was 770,000 in 2018. Please adjust in the 10m places table.

[2020-09-10 05:59] jwva opened #413 "10m places: Astana (capital of Kazakhstan) is now called Nur-Sultan"
As of 2020, the name of the capital of Kazakhstan has been changed from "Astana" to "Nur-Sultan":
https://en.wikipedia.org/wiki/Nur-Sultan

[2020-09-11 05:57] #332 closed

[2020-09-12 05:24] jwva opened #414 "10m places: Max_pop of Newcastle, Australia, is too high"
In the 10m places data set, Newcastle (New South Wales, Australia) is listed as having a pop_max of 1,134,616 people. However, the greater Newcastle metropolitan area only reaches 540,796, whereas the urban area proper only reaches 322,278 (2016). Please correct.
https://en.wikipedia.org/wiki/Newcastle,_New_South_Wales

[2020-09-16 19:34] TomasJohansson commented on #361
Some response would be nice :-)

[2020-09-17 06:03] nvkelso commented on #361
I suppose, but it seems fairly pedantic. What requirement is driving the request?

[2020-09-17 07:56] TomasJohansson commented on #361
I would like to use naturalearthdata (for an Android map app) but it seems as "public domain" can be problematic, at least in an international context.
(and if I would release an Android map app to Google Play store, with map data originating from naturalearthdata, then it would be internationally released)
Since I am not an expert on international laws I can not anticipate exactly what kind of pr

[2020-09-21 15:34] DaveInCaz commented on #361
I don't know if it would be helpful, but this site specializes in issues about what open-source license to use, etc. Here is a post specific to public domain considerations:
https://opensource.stackexchange.com/questions/55/does-open-source-qualify-as-being-part-of-the-public-domain

Possibly it could be worth posting a new question there and asking about this specific issue.

[2020-09-25 10:59] C8lCat opened #415 "False Link"
Hi,
in your "support" section is a link referenced to "mapgiving.org" but there you will be redirected to a erotic site. Perhaps the site was hacked.

[2020-09-25 14:57] agabrielabastidas opened #416 "Can't download anything"
Hello, I've been trying to download data but it seems the connection ends before the download starts. What could be the problem?

[2020-09-25 16:44] nvkelso commented on #416
What download link from what page?

[2020-09-25 16:51] jirik commented on #416
For example https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/110m_cultural.zip linked from https://www.naturalearthdata.com/downloads/10m-cultural-vectors/

[2020-09-25 16:52] thatguy323 commented on #416
https://www.naturalearthdata.com/downloads/110m-physical-vectors/

is where I am trying to download but I tried them all.

Cant download any file - they all time out.. doesn't matter what size as well. Seems that no download links are currently working - and are all timing out.

[2020-09-25 16:57] jirik commented on #416
Seems as http://naciscdn.org is down

[code]

[2020-09-25 17:30] nvkelso commented on #416
Hmm. I’m away from my desk today. In the meantime you can download files from this repo.

[2020-09-26 08:02] jimbomcfly1998 opened #417 "natural earth zip files not downloading"
Hello, just a heads up that nothing can seem to be downloadable...

[2020-09-26 22:18] nvkelso commented on #417
Downloads are working for me again. Can you confirm the problem has resolved for you, please?

[2020-09-27 03:36] ianthetechie commented on #417
Still not working for me (same issue as in #416). The NACIS CDN still seems unresponsive. http://naciscdn.org/naturalearth/packages/natural_earth_vector.zip

[2020-09-27 04:06] clkruse commented on #417
naciscdn is down for me as well. I tried yesterday and today, but with no success

[2020-09-27 06:52] bryancallahan opened #418 "Download links broken for "1:10m Natural Earth II""
Page: https://www.naturalearthdata.com/downloads/10m-raster-data/10m-natural-earth-2/

All of the links are of the form:
https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/raster/NE2_HR_LC.zip

[2020-09-27 06:53] #418 closed

[2020-09-27 06:53] bryancallahan commented on #418
Already been posted several times. Closing as duplicate.

[2020-09-27 16:23] ianthetechie commented on #416
Looks like it's working now.

[2020-09-28 07:28] jirik commented on #416
It's working for me too.

[2020-09-28 20:58] nvkelso commented on #416
We don't see anything suspicious in the origin server logs so suspect this may have been an intermittent networking issue.

Longer term we can investigate moving &/or mirroring data over to S3 as a public dataset or into an optional requestor pays bucket.

[2020-09-28 20:58] #416 closed

[2020-09-29 14:42] jwva opened #419 "10m places: Chicoutimi, Quebec, is now part of Saguenay"
In the 10m places dataset, Chicoutimi is mentioned as a Populated Place. However, this town has been incorporated in Saguenay since 2002. Its population is slightly higher than 100,000.
https://en.wikipedia.org/wiki/Saguenay,_Quebec

[2020-09-30 06:55] zhangshine commented on #391
Point(34, 46)

https://github.com/zhangshine/BGJar/blob/92dc8f9e58327cc276fc9667885b09b0aed84516/src/pages/world-map/data/ne_10m_admin_0_countries_1_2x2_country_locations.json#L75

[2020-10-06 04:17] ninjabird opened #421 "Not found"
https://naciscdn.org/naturalearth/50m/raster/NE2_50m_SR_W.zip not found

I suppose it is related with recent undownloadable issues.

[2020-10-08 08:50] Anton21bis opened #422 "Lakes Tanganyika and Balkash are missing in the ne_50m_lakes.shp"
In the 4.1.0 version of ne_50m_lakes.shp Lake Tanganyika is missing. It does exist in the ne_110m_lakes.shp and in the ne_10m_lakes.shp.

[2020-10-10 17:18] tmcgilligan-IAU opened #423 "Eastern shore of VA is missing from Admin level-1"

[2020-10-13 22:06] hugolpz opened #424 "Provinces : Cambodia missing a province."
![Screenshot_2020-10-14_00-02-25](https://user-images.githubusercontent.com/1420189/95921131-06d61d00-0db1-11eb-9d50-3c1212dd8026.png)
![Cambodia,_Rôtânôkiri_locator_map,_admin_blue_(2020)-en](https://user-images.githubusercontent.com/1420189/95921179-1ce3dd80-0db1-11eb-9b02-b2d59d6c919c.png)

[2020-10-14 22:27] elliotap opened #425 "10m lakes: Lynx Lake & Whitefish Lake"
10m lakes feature 1159108899 represents two separate lakes in Canada, Whitefish Lake and Lynx Lake. Currently, it is drawn as a single polygon named Lynx Lake. Requesting that geometries for Whitefish Lake and Lynx Lake be separated and Whitefish Lake be named.

References:
Northwest Territories Tourism Map: https://spectacularnwt.com/sites/default/files/2019-04/nwtt-map-foldout.pdf
Quaternary Sci

[2020-10-14 22:31] elliotap opened #426 "10m lakes: Takijuq Lake/Napaktulik Lake"
Takijuq Lake, present in ne 10m lakes as feature 1159109029, is an outdated name for Napaktulik Lake. Requesting update to feature name.

Reference:
http://www4.rncan.gc.ca/search-place-names/unique/ea7c9b85d05211d892e2080020a0f4c9

[2020-10-23 16:38] adiku opened #427 "US County feature"
I am trying to render a population density for US at county level.

Is there a feature I can use to render US County borders and color them based on population density?

I have population & density data from US Census website www.census.gov. I tried rendering these with shapefile & giving colors for each county, but it is taking too long to render.

[2020-10-24 08:34] Maxszik opened #428 "Sovetskaya Gavan misspelled"
In the Populated Places datasets:

It should be Sovetskaya Gavan - not Savetskaya Gavan

[2020-10-29 20:59] KennethSui opened #429 "Admin_1_states_provinces: Regions of France was updated in 2016"
In admin_1_states_provinces data, the region attributes of French provinces are still in the old divisions. Since 2016 France is mainly divided into 18 new administrative regions: 13 regions in metropolitan France (including the territorial collectivity of Corsica).

[2020-10-29 21:01] KennethSui opened #430 "Populated_Places: Wrong Chinese names"
Shijianzhuang --> Shijiazhuang
Xiangfan --> Xiangyang

[2020-10-31 12:02] osharaki opened #431 "Continent boundary estimates are way off"
I'm using the [1:10 Physical Labels dataset](https://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-physical-labels/) to get continent boundaries. When I render the rectangular bounds in Leaflet, however, the coordinates are WAY off. Here's are two examples:
| Africa | South America |
|:---:|:---:|
|![ne_10m_geography_regions_polys_AFRICA](https://user-images.githubusercontent.com/383

[2020-10-31 15:00] nvkelso commented on #431
Can you include more reproduction steps, please?

[2020-10-31 17:10] osharaki commented on #431
I'm using [geopandas](https://geopandas.readthedocs.io/en/latest/index.html) to extract the bounds. My Python code looks like so:
[code]
I then use these coordinates in Leaflet like so:
[code]

[2020-11-01 14:14] osharaki commented on #431
I've realized my own mistake. Leaflet expects coordinates as latitude followed by longitude. Instead, I was passing in the coordinates as I received them from the dataset, which is in the form of longitude followed by latitude. Flipping the values fixed the issue.

[2020-11-01 14:14] #431 closed

[2020-11-02 18:25] mapperfr opened #432 ""File not found" while trying to download 1:50m Natural Earth II"
Happens on both the datasets here: https://www.naturalearthdata.com/downloads/50m-raster-data/50m-natural-earth-2/.

[2020-11-06 15:45] #432 closed

[2020-11-14 22:47] pnorman opened #434 "www.naturalearthdata.com download links return error 500 when referer is not set"
``curl -I https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip`` returns

[code]

wget gets a similar error.

If I instead do `curl -e 'https://www.naturalearthdata.com/downloads/110m-cultural-vectors/' -I https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_la

[2020-11-17 08:28] gzauhar commented on #422
In 4.1.0 lake Tanganyika is also missing from ne_50m_admin_0_countries_lakes.shp. It does exist in ne_10m_admin_0_countries_lakes.shp and ne_110m_admin_0_countries_lakes.shp.

[2020-11-17 13:19] AlexandreFrolov opened #435 "ERROR 500: Internal Server Error."
wget https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip
--2020-11-17 13:09:31--  https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip
Resolving www.naturalearthdata.com (www.naturalearthdata.com)... 66.147.242.194
Connecting to www.naturalearthdata.c

[2020-11-17 16:54] mstrimas commented on #434
This change to requiring the referrer URL now means it's no longer possible to download Natural Earth data programmatically with R using `download.file()`. I use these data in R packages and online tutorials and will need to remove Natural Earth from these resources if this change is permanent. Would love to be able to keep using these data if the referrer URL requirement could be dropped.

[2020-11-17 17:57] nvkelso commented on #434
I didn't make change to NE server so will need to look into this more. Why can't you set a referrer?

[2020-11-17 19:01] mstrimas commented on #434
Strange, something most have changed because I'm now also getting an error when I try to download directly in Chrome. It's saying the file can't be downloaded securely and directs me [here](https://support.google.com/chrome/answer/6261569?p=mixed_content_downloads&visit_id=637412363447104689-3279678246&rd=1). I can ask Chrome to download anyway, but this wasn't an issue until recently.

Regarding

[2020-11-19 12:51] khufkens commented on #434
As for @mstrimas I've got the same issue here, impacting automated map generation. This issue wasn't there until a couple of days ago. Downloads work in the browser not using the `download.file()` function in R.

[2020-11-19 15:19] Gaston4469 opened #436 "Download"
Hola: tengo problemas para descargar 1:50 m Ocean Bottom y Admin0-countries. Necesito ayuda. error 500

Hi, I'm having trouble downloading 1:50m Ocean Bottom and Admin0-countries. I need help. error 500

[2020-11-19 19:38] andysouth commented on #434
@nvkelso can you advise whether this is likely to be temporary and return to previous behaviour ? or do I need to try to adapt to address ropensci/rnaturalearth#40 as identified by @mstrimas. Thanks.

[2020-11-19 19:55] nvkelso commented on #434
I'll research and provide an update here by Monday. It's not an intentional change.

[2020-11-20 04:09] nvkelso commented on #436
Dup of https://github.com/nvkelso/natural-earth-vector/issues/434.

[2020-11-20 04:09] #436 closed

[2020-11-20 04:10] nvkelso commented on #435
https://github.com/nvkelso/natural-earth-vector/issues/434

[2020-11-20 04:10] #435 closed

[2020-11-20 05:58] nvkelso commented on #434
Looking at access logs, this change occurred November 12th when all new requests include a referrer.  Before that date there were a mix of valid referrer and null referrer.

It looks like the visual theme for the site is also borked, so might be related to an underlying auto update?

I'll keep investigating...

[2020-11-20 22:55] jaycaesa opened #437 "unable to download data"
I have tried on two different computers to download the natural earth raster data. On windows it simply wont download and on mac it says that the zip file cannot be downloaded securely. Any help would be greatly appreciated

[2020-11-20 23:09] almccon opened #438 "Harney Peak, South Dakota is now named Black Elk Peak"
The peak was officially renamed in August of 2016. Article in Indian Country Today: https://web.archive.org/web/20160812220454/http://indiancountrytodaymedianetwork.com/2016/08/12/breaking-black-elk-peak-soars-above-he-sapa-no-longer-harney-peak-165445

"The name Harney Peak has long been a source of anger and resentment for the Oceti Sakowin and the various treaty tribes."

The feature has been r

[2020-11-20 23:59] nvkelso commented on #437
Is this in Chrome? Please try Firefox or Safari as workaround. Else raw files are available here on GH.

[2020-11-21 00:20] jaycaesa commented on #437
Yeah it was in chrome, thanks!

On Fri, 20 Nov 2020 at 6:59 PM, Nathaniel V. KELSO <notifications@github.com>
wrote:

[2020-11-21 00:27] nvkelso commented on #437
This is a dup of https://github.com/nvkelso/natural-earth-vector/issues/434.

[2020-11-21 00:27] #437 closed

[2020-11-21 00:28] nvkelso commented on #434
Some progress: Visual theme is fixed.

Looks like rest of this is related to mixed https and http content and SSH and Chrome being more fussy about that these days. So a path forward but more journey to take.

[2020-11-21 02:08] pnorman commented on #434
I'm no longer getting the 500 error. Instead I'm getting a redirect with an extra step, from `https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip` to  `http://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip` to `https://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_boundary_lines_la

[2020-11-21 02:12] nvkelso commented on #434
Would be great if it was a 1 char fix! I'll give that a try.

[2020-11-21 02:30] almccon opened #439 "Inconsistent use of Mount vs Mt. and Peak vs Pk."
In the Western US, we have a mix of "Mount" and "Mt.", and mix of "Peak" and "Pk.".  The labels should all use either all abbreviations or no abbreviations.

<img width="712" alt="Screen Shot 2020-11-20 at 6 28 36 PM" src="https://user-images.githubusercontent.com/1212178/99865433-7680ba00-2b5e-11eb-9115-65e47f909576.png">

[2020-11-21 03:08] nvkelso commented on #439
Is this in name or one of the name_en variant?

Agree they should be consistent.

[2020-11-21 03:13] almccon commented on #439
That screenshot was the `name` field.

Interesting, in `name_en`, "Mount" is used consistently which is great, but the two "Pk." features in `name` do not have any labels at all in `name_en`.

Here's `name_en`
<img width="804" alt="Screen Shot 2020-11-20 at 7 10 58 PM" src="https://user-images.githubusercontent.com/1212178/99866231-489e7400-2b64-11eb-8457-5dc44049d7ed.png">

[2020-11-21 09:56] EvaVermeylen opened #440 "Unable to download files"
Dear

I am unable download any files from the website. When I click on the download link nothing happens...
How can this be solved?

Thank you for a quick answer!

[2020-11-21 15:00] khufkens commented on #434
Things seem to work again, thanks!

[2020-11-21 16:08] nvkelso commented on #434
@pnorman can you try that download again, please? I've fixed the redirect to point at the final https location directly, and added MIME type for application/zip.

[2020-11-21 18:46] nvkelso commented on #434
(This has been completed for all download links, not just the example above.)

[2020-11-21 18:46] nvkelso commented on #434
@andysouth Is it resolved for you now?

[2020-11-21 20:02] pnorman commented on #434
All the responses look appropriate now, thanks.

[2020-11-21 20:02] #434 closed

[2020-11-21 21:50] SomeoneElseOSM commented on #434
Works for me too (I logged https://github.com/gravitystorm/openstreetmap-carto/issues/4249 , which is related to this issue).

[2020-11-22 07:08] nvkelso commented on #440
This should be resolved.

[2020-11-22 07:08] #440 closed

[2020-11-22 07:08] nvkelso commented on #440
Dupe of https://github.com/nvkelso/natural-earth-vector/issues/434

[2020-11-23 12:08] andysouth commented on #434
Thankyou @nvkelso, yes this is resolved for rnaturalearth now.

[2020-12-02 00:22] #372 closed

[2020-12-03 20:14] vishv-jeet opened #441 "India Map"
I don't see the newest Indian state of Telangana included in the data

[2020-12-07 23:52] elvintarverdiyev opened #442 "Territory of Azerbaijan"
Could you please remove the dotted lines and highlighted color around the so-called land Nagorno-Karabakh? It no longer exists. Based on the agreement signed between Armenia, Azerbaijan and Russia, status of former Nagorno-Karabakh has been abolished on November 10, 2020. Besides, it already lost its autonomy status back in 1991, and UN as well as all other international organizations and countrie

[2020-12-08 00:30] nvkelso commented on #442
Thanks for the feedback!

Generally speaking we let things settle for a little bit before updating the admin boundaries. But I’ll flag this for next release.

[2020-12-08 00:31] nvkelso commented on #442
Can you provide a link to the website that is screenshotted, please?

Changing the data here is one thing, but whoever is using the data over there would also need to upgrade.

[2020-12-10 11:27] carderne opened #443 "Website certificate expired in October 2020"
Firefox and Chrome reporting expired certificate.

[2020-12-10 14:02] meijer3 commented on #416
![image](https://user-images.githubusercontent.com/45625341/101781544-3e82ec00-3af8-11eb-8b1f-6bb86d2c529b.png)
I cannot reach the website. I doubt that the end date is real, because it worked after this expired date.

[2020-12-10 20:03] nvkelso commented on #443
Having a look...

[2020-12-10 20:05] nvkelso commented on #443
@meijer3 commented over in https://github.com/nvkelso/natural-earth-vector/issues/416#issuecomment-742539668

![image](https://user-images.githubusercontent.com/45625341/101781544-3e82ec00-3af8-11eb-8b1f-6bb86d2c529b.png)

I cannot reach the website. I doubt that the end date is real, because it worked after this expired date.

[2020-12-10 20:58] nvkelso commented on #443
I see the certificate expiring in 2021... but I did fix one other issue.

@meijer3 @carderne @larksk can you try again, please?

[2020-12-10 21:21] carderne commented on #443
Good for me.

[2020-12-10 21:44] nvkelso commented on #443
Woot!

[2020-12-10 21:44] #443 closed

[2020-12-11 08:50] hartmut-mariadb opened #444 "Site down?"
Looks as if the naturalearthdata.com domain expired, and is now served by some domain squatter?

[2020-12-11 16:17] SomeoneElseOSM commented on #444
For info, I currently see via "nslookup www.naturalearthdata.com 8.8.8.8":

Non-authoritative answer:
www.naturalearthdata.com        canonical name = naturalearthdata.com.
Name:   naturalearthdata.com
Address: 50.87.236.238

Website cert is a wildcard "*.bluehost.com", verified by "Sectigo Limited", expires "09 February 2021".

My recollection was that (a couple of days ago) the valid site had a

[2020-12-11 16:23] hartmut-mariadb commented on #444
Right now I only see "Copyright 2020 Privacy Policy", with privacy policy linking to:

http://www.parkingcrew.net/privacy.html

[2020-12-11 16:32] nvkelso commented on #444
I'll have a look...

[2020-12-11 20:06] nvkelso commented on #444
The earlier issue was https://github.com/nvkelso/natural-earth-vector/issues/443.

Working with the host to straighten this out. Sorry folks!

[2020-12-11 20:10] nvkelso opened #445 "Move file hosting to S3 via AWS public dataset"
The data has been hosted by FSU (huge thank you!) for the last 11 years.

NACIS (Natural Earth's formal project sponsor) is in discussions with AWS to host the data files in their public dataset program.

[2020-12-11 20:10] nvkelso commented on #444
This sometime comes up:

![image](https://user-images.githubusercontent.com/853051/101950293-e3113680-3ba9-11eb-90ff-d6057441f35d.png)

[2020-12-11 20:11] nvkelso commented on #443
Useful tool to debug SSL issues:

- https://www.sslshopper.com/ssl-checker.html#hostname=naturalearthdata.com

[2020-12-12 00:16] nvkelso commented on #444
Site is back up, fixed some caching issues. Theme is borked again, but downloads should all work. Will pick this up in a bit.

[2020-12-12 08:04] nvkelso commented on #444
Perhaps the site theme is fixed (on every page). And the site should be faster now.

[2020-12-13 06:35] nvkelso commented on #444
Still working after 24 hours, closing.

[2020-12-13 06:35] #444 closed

[2020-12-16 00:57] stepps00 opened #447 "Update WOF concordances in NE populated places file"
As part of https://github.com/whosonfirst-data/whosonfirst-data/issues/1547, I'm reviewing the Natural Earth "populated places" file on [this page](http://www.naturalearthdata.com/downloads/10m-cultural-vectors/). I noticed that 56 of the features in that file have outdated concordances to Who's On First.

Here's a list of them: [mismatched_concordances.csv.txt](https://github.com/nvkelso/natural-

[2020-12-20 00:54] mizmay commented on #419
Seems like the main issue to correct here is that Saguenay is not in the 10m places dataset.

[2020-12-20 02:54] mizmay commented on #383
As described in #430 there is a discrepancy between the spelling in Natural Earth NAME field ("Shijianzhuang") and Wikidata ("Shijiazhuang").

[2020-12-20 02:55] mizmay commented on #430
The suggested correction matches the Natural Earth fields (presumably) derived from Wikidata, but not NAME or others (presumably) derived from Geonames.

[2020-12-20 03:31] mizmay commented on #336
See also #365

[2020-12-20 04:31] mizmay commented on #323
Recommend removing the record for El Cayo and adding a new one for San Ignacio, as there is no wikidata ID for El Cayo.

Verified San Ignacio location is consistent across Open Street Map, Apple Maps, Google Maps

[2020-12-20 04:38] mizmay commented on #334
Verified!
- Recommend removing Bol'sheretsk (Q16268949 - but there is no wikidata ID listed in the NE record)
- Recommend adding Ust-Bolsheretsk (Q2502620)

[2020-12-20 04:53] mizmay commented on #339
Verified!
- OpenStreetMap https://www.openstreetmap.org/relation/7697594
- Google Maps https://www.google.com/maps/place/Shiquanhe,+Gar+County,+Ngari+Prefecture,+Tibet,+China/@31.3099264,78.5339123,6.69z/data=!4m5!3m4!1s0x39a977e3a81e8b39:0x296cc306cebdd08c!8m2!3d32.493989!4d80.101607
- Not present on Apple Maps

- Recommend removing the record for Gar (no corresponding wikidata ID in NE)
- Recomm

[2020-12-20 05:13] mizmay commented on #333
Verified!
- Open Street Map https://www.openstreetmap.org/node/5973237383#map=12/52.2022/-87.9593
- Google Maps shows both places https://www.google.com/maps/place/Lansdowne+House,+ON,+Canada/@52.2483645,-88.0993757,11z/data=!4m13!1m7!3m6!1s0x4d648d5650eeb627:0xde6ce10634d3f6d9!2sNeskantaga+Indian+Reserve,+Kenora,+Unorganized,+ON,+Canada!3b1!8m2!3d52.2014143!4d-88.0321218!3m4!1s0x4d64ee515937655f:

[2020-12-20 05:33] mizmay commented on #411
Verified!
- Comment on provenance from NE record: "Asia/Harbin Geonames ascii name + lat.d + long.d matching."
- Open Street Map https://www.openstreetmap.org/relation/2769902
- Google Maps https://www.google.com/maps/place/Huludao,+Liaoning,+China/@40.7524541,120.7084938,11z/data=!3m1!4b1!4m5!3m4!1s0x358a1fb35c71a037:0x861f2c8c205a3b70!8m2!3d40.71104!4d120.83694
- Apple Maps has both (see screens

[2020-12-20 06:05] mizmay commented on #408
Verified! Preah Vihear is the name of the province and the name of a nearby temple as well as a municipality (Q27220327)
- This place is called Preah Vihear in Open Street Map https://www.openstreetmap.org/node/256992516
- This place is called Kampong Pranak in Google Maps, but then there is also a POI for Preah Vihear City Hall https://www.google.com/maps/place/Kampong+Pranak,+Cambodia/@13.814604

[2020-12-21 20:53] elliotap opened #448 "10m Populated Places: State-Wide Name Updates in Karnataka, India"
In 2014, Karnataka renamed 11 populated places present in NE 10m dataset. Requesting names be updated for the following places:

Bangalore->Bengaluru, ID:1159151543
Mangalore->Mangaluru, ID:1159150015
Bellary->Ballari, ID:1159148527
Bijapur->Vijayapura, ID:1159147195
Belgaum->Belagavi, ID:1159148531
Gulbarga->Kalaburagi, ID:1159150019
Mysore->Mysuru, ID:1159150017
Hospet->Hosapete, ID:1159141837
S

[2020-12-21 21:03] elliotap opened #449 "10m Populated Places: Duplicate Records for Adapazarı, Turkey"
Two features in the populated place dataset appear to represent the same city.

**Name | ID | Wikidata**
Sakarya | 1159113425 | [Q175323](https://www.wikidata.org/wiki/Q175323)
Adapazarı | 1159146375 | [Q175323](https://www.wikidata.org/wiki/Q175323)

Adapazarı appears to be the correct name for this city, while Sakarya is the province it is within: https://en.wikipedia.org/wiki/Adapazar%C4%B1

[2020-12-21 22:22] elliotap opened #450 "10m Populated Places: Location of Bodø, Norway"
Requesting slight adjustment to location of Bodø from approximately 67.24709747, 14.4008082 to 67.2827, 14.3751.

Current location is in the Saltfjorden (https://en.wikipedia.org/wiki/Saltfjorden). Requested location is given in wikipedia: https://en.wikipedia.org/wiki/Bod%C3%B8

[2020-12-21 22:32] elliotap opened #451 "All Layers: Request for Persian Language Support"
Requesting, if feasible, name field for Persian (Farsi) language (ISO 639-1: fa) - 53 million native speakers per https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2020-12-21 23:57] elliotap opened #452 "10m Populated Places: Ammochostos/Famagusta, Nicosia"
For feature 1159132353, name=Ammochostos. Ammochostos appears to be historical Greek name, and Famagusta appears to be the broadly preferred name. Requesting update for name=Famagusta & namealt=Ammochostos

**References:**
Cartographic history: http://157.181.182.3/hun/doktoran/arkan/arkan-dissertation.pdf (p. 18-56)
Wikipedia: https://en.wikipedia.org/wiki/Famagusta
AP Style: https://apnews.com/a

[2020-12-23 20:08] nvkelso commented on #408
I recommend a name fix (rather than deleting feature and adding a new one). This Natural Earth feature was added to backfill missing admin-1 capitals. So if it has the wrong name, then let's fix that. That way their will be less churn.

- I see the following Wikidata ID on the existing feature: https://www.wikidata.org/wiki/Q2428308, which is for `Capital of the Cambodian province of Preah Vihear`

[2020-12-23 20:17] nvkelso commented on #451
Good idea, shouldn't be too much work.

[2020-12-23 20:21] nvkelso commented on #449
I'd delete 1159146375 and keep 1159113425 (which is marked as the admin-1 capital and has better position), but first copy over some of the NE population guestimates (max, min pops and bbox).

[2020-12-23 20:28] nvkelso commented on #411
This is for NE feature **ne_id**: `1159149137`.
It's currently default name of `Jinxi` with localized name_en of `Lianshan`. Both are wrong.

I think keep the existing NE feature, but update the default name as recommended to `Huludao` and set Wikidata ID to `Q75379`. The next run of the wikidata name script will pick up the localizations.

Thanks!

[2020-12-23 20:31] nvkelso commented on #430
Fix is to update value the default **name** field to the correct values.

[2020-12-23 20:33] nvkelso commented on #383
Agree the fix is to update the **featurecla** value to `Admin-1 capital`.

Let's use the other issue to track the name change still. Both changes can be made together in the same PR.

[2020-12-23 20:39] nvkelso commented on #448
I agree with these changes... the default **name** field should be updated, after moving the existing value to **namepar**.

This will result in map labels like:

`Bengaluru (Bangalore)`

Which will enable people who are used to the old name to still find it, but respect the new name by default.

[2020-12-23 20:45] nvkelso commented on #419
For **ne_id** feature `1159148923`, I think rename the existing **name** (and nameascii) field to `Saguenay` as this is the center of population for the amalgamated locality and forms one of the 3 boroughs.

No need to create a new feature.

Sounds like the population and population rank should also be updated, `144746` and then whatever the new rank would then be.

For the localized names we'd ne

[2020-12-23 20:49] nvkelso commented on #323
Please keep the NE record but update it's **name**. The name before was taken from the surrounding admin area, but as @stefanfis points out the city has it's own name of `San Ignacio`. Looks like the wikidata ID should be `Q724815` to pick up the localizations.

[2020-12-23 20:50] nvkelso commented on #334
Move lat/lng, rename, update wikidata ID, done!

[2020-12-23 20:54] nvkelso commented on #419
Looks like pop rank should be `9`, from formula here: https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-populated-places/

[2020-12-23 20:54] nvkelso commented on #339
Recommend keeping existing feature, moving existing name to parenthetical, updating name, evaluating if it needs a lat/lng move, add wikidata_id.

[2020-12-23 20:59] nvkelso commented on #333
Agree on keeping NE record `1159148901` but renaming it to `Neskantaga`, preserving old name in **namepar**, and looks like there is no appropriate Wikidata ID so NULL.

[2020-12-23 21:05] nvkelso commented on #365
Good find! Looks like the location and other properties of the generic populated place is better than the Admin-1 capital, so I'd delete the capital `1159139819`, and update **featurecla** of `1159149817` to `Admin-1 capital`.

[2020-12-23 21:05] nvkelso commented on #336
The Wikidata ID was shared between them, and English value at Wikidata has been corrected since last run, so rerun the name script.

The bad feature will be deleted via #365, thanks for linking them up!

[2020-12-28 21:47] elliotap opened #453 "10m Populated Places: Rida, Yemen"
Feature 1159134263 has name value of "Rida" (which may refer to a former province of North Yemen, https://en.wikipedia.org/wiki/Administrative_divisions_of_Yemen#Provinces_of_North_Yemen). No value is present for wikidata.

Correct name is "Rada'a", with wikidata=[Q2125362](https://www.wikidata.org/wiki/Q2125362)
https://ar.wikipedia.org/wiki/%D8%B1%D8%AF%D8%A7%D8%B9

[2020-12-28 22:02] elliotap opened #454 "10m Populated Place: Puducherry, India"
Pondicherry, ID: 1159150163, was renamed to Puducherry in 2006. English-language wikipedia and wikidata (Q639421) still use well-known former name for page title.

https://en.wikipedia.org/wiki/Pondicherry
https://www.india.com/news/india/cabinet-approves-constitutional-amendment-to-change-name-of-the-union-territory-from-pondicherry-to-puducherry-1801316/
https://www.openstreetmap.org/node/245600

[2020-12-28 23:52] mizmay commented on #449
Makes sense to consolidate these two records and keep `1159146375` and `Admin 1` but Wikipedia is not consistent about whether this place should be called Adapazarı or Sakarya (city). Based on wikidataid `Q175323` let's keep Adapazarı as @elliotap suggests and move Sakarya to `NAMEPAR`

[2020-12-29 00:11] mizmay commented on #452
Verified via [OpenStreetMap](https://www.openstreetmap.org/node/306213529
[Google Maps]) (https://www.google.com/maps/place/Famagusta/@35.1194059,33.8989477,13z/data=!3m1!4b1!4m5!3m4!1s0x14dfc842da4c163d:0x29db03c5a5d3ce87!8m2!3d35.1149116!4d33.919245)
and Apple Maps
<img width="868" alt="Screen Shot 2020-12-28 at 4 11 00 PM" src="https://user-images.githubusercontent.com/3074691/103250155-5693a18

[2020-12-29 00:21] mizmay commented on #453
[OpenStreetMap](https://www.openstreetmap.org/node/5587743988) calls this Rada' with Rada'a a nearby residential district.
Verfied on Google Maps and Apple Maps

[2020-12-29 00:29] elliotap opened #455 "10m Populated Places: Wikidata for Banners in Inner Mongolia"
The following features in Inner Mongolia do not currently have a value for wikidata but correspond with the following wikidata IDs:

Name | ID | Wikidata
Bairin Zuoqi | 1159141123 | Q1329235
Ergun Zuoqi | 1159130275  | Q1354108
Hanggin Houqi | 1159130301 | Q1202314
Alxa Zuoqi | 1159141109 | Q1367222

In addition, "Ergun Zuoqi" is now named "Genhe" (https://en.wikipedia.org/wiki/Genhe)

[2020-12-29 00:45] mizmay commented on #454
[OpenStreetMap](https://www.openstreetmap.org/node/245600130)

[2020-12-29 01:11] ImreSamu commented on #454
it is so complicated   ;  wikipedia voting:
* https://en.wikipedia.org/wiki/Talk:Pondicherry#Requested_move_10_September_2018

[2020-12-29 01:22] nvkelso commented on #454
Hi @ImreSamu, long time no see! Thanks for the deep dive into Wiki Talk.

I'm in favor of updating the default name to Puducherry with name_alt of Pondicherry since it's a big town with a long time conventional name in the earlier form and the official name has been in circulation for 14 years (!!!).

For all the localizations the script follows https://www.wikidata.org/wiki/Q639421, which would r

[2020-12-29 03:45] mizmay commented on #454
We can put anything in NAME, NAMEALT and NAMEPAR as these are not currently populated. It's likely that @elliotap is flagging the `name_en` value, which as the two of you point out, comes from wikidata and will not change.

[code]

[2020-12-29 04:01] elliotap commented on #454
@mizmay yes - flagging for name_en. I've been checking issues against a copy of the 10m shapefile downloaded 5/21/2020 where I am also seeing NAME populated with "Pondicherry"

[2020-12-29 05:07] mizmay commented on #454
@nvkelso is it appropriate to use NAMEDIFF or some other existing field to denote where NAME is not expected/required to match name_en?

[2020-12-29 05:43] nvkelso commented on #454
In the past namediff has been used to indicate (and combined with note field for explanation) when a change has been made version to version. It hadn't been maintained in several major versions.

In most cases it may be better to simply edit the wikidata value upstream? It's only loosely associated with Wikipedia and it's controversies?

[2020-12-29 05:53] nvkelso commented on #449
Works for me. Let's check to make sure the feature class is right (admin 1 cap), it was likely confused because of that.

[2020-12-29 08:39] jmaira opened #456 "Can't seem to download the GeoPackage"
Hi, I can't seem to download the GeoPackage file from the downloads section. The download doesn't start. Are there any restriction to downloading the file? Can anyone shed some light?

Josh

[2020-12-29 15:36] mizmay commented on #454
In this case I understand the request to be that we NOT reflect the Wikidata “en” value in NAME. Looking for a programmatic way to do that.

S.

[2020-12-29 17:55] nvkelso commented on #454
There is a limit to number of columns in a DBF (it is an old but reliable format) and we're running up against that. I could see a new column with a JSON object to store such a mask for the ~ 2 dozen localizations? The crux is how often we update name vis-a-vis name_en? I think not very often and human reviewed? What about noting deliberate deltas in notes column and including that column in the w

[2020-12-29 19:01] mizmay commented on #449
On closer inspection, I am having trouble concluding Adapazarı and Sakarya city are the same place. While Wikipedia uses the names interchangeably and refers to each as the provincial capital, all other sources I checked show both.

OpenStreetMap - [Sakarya](https://www.openstreetmap.org/node/6088495935) and [Adapazarı](https://www.openstreetmap.org/node/25869708)

[Google Maps](https://www.google

[2020-12-29 19:32] mizmay commented on #448
This can be achieved programmatically as wikidataids are correct and wikidata values match these.

[2020-12-29 20:04] mizmay commented on #449
There is a wikidata id for Sakarya - Q3945164. I will update this record to that value.

https://www.sakarya.bel.tr/

[2020-12-29 20:09] nvkelso commented on #449
One way or another, I suspect there should just be a single record for this place in Natural Earth.

Yandex has a customized Turkish map:

- https://yandex.com.tr/harita/profile?ll=30.399680%2C40.784850&z=14

They show the two on top of each other, and around zoom 14 one label dissolves into the other one. They are using Sakarya as the capital city name and Adapazarı as what looks like a borough (

[2020-12-29 20:13] nvkelso commented on #449
Looks like the "localadmin" in WOF speak is `Adapazari` and self declares in this "tourist map app: https://keos.adapazari.bel.tr:8086/keos/. I'm fine to use the value as the default name in Natural Earth. Confriming what @elliotap originally proposed :)

[2020-12-29 20:39] elliotap commented on #449
I dug a little deeper into this also - from what I found:

Adapazari is the precedent name for the city (https://www.sakarya.bel.tr/tr/Sayfa/sakarya-rehberi/1), and now established as a municipality

There was some significant administrative restructuring (https://www.tandfonline.com/doi/full/10.1080/01900692.2014.903277?scroll=top&needAccess=true) between 2004-2012, that established the Sakarya M

[2020-12-29 20:58] nvkelso commented on #449
From @elliotap's link:

[code]

[2020-12-29 21:15] mizmay commented on #419
See https://github.com/nvkelso/natural-earth-vector/pull/457

[2020-12-29 21:15] mizmay commented on #453
See https://github.com/nvkelso/natural-earth-vector/pull/457

[2020-12-29 21:17] mizmay commented on #449
Sounds good.

Makes sense to do detailed manual updates after batch updates, so for now just updated the record (https://github.com/nvkelso/natural-earth-vector/pull/457) and made sure the other aspects of this issue are tracked (https://gist.github.com/mizmay/89f6eed0e571e5e324bb7e13005715fc)

[2020-12-29 21:19] mizmay commented on #411
Sounds good.

See https://github.com/nvkelso/natural-earth-vector/pull/457

Added to the list of issues that require population updates here: https://gist.github.com/mizmay/89f6eed0e571e5e324bb7e13005715fc

[2020-12-30 00:54] mizmay commented on #405
[code]

[2020-12-30 01:07] mizmay commented on #373
Removing ne_id=1159148899
Keeping ne_id=1159150223 wikidataid=Q334197 https://en.wikipedia.org/wiki/Vila_Velha in Espírito Santo, Brazil

[code]

[2020-12-30 01:58] mizmay commented on #358
Removing `1159148743` and keeping `1159150225`

[code]

[2020-12-30 04:09] ImreSamu opened #458 "Wikidata | Populated_Places | China | County -> City replacement"
* based of the latest wikidata dump info  ( 1w ago ) + NE `v5-prequel` branch (~1 day old ) + my old scripts ...
* imho:  "currently" lot of "county of China"   should be a  "town/city"
   * the new wikidata id-s is not perfect .. but so much better than the current wikidata ( ~ based of 2y old data )

| ne_id	| ne_name	| current_wd_id	| _suggested_wd_id_url	| old_p31_instance_of	| new_p31_instanc

[2020-12-30 07:49] ImreSamu opened #459 "wikidata | 10m populated_places | replace"
some low hanging fruits ... for update ..  please double check as usual ...
[  record format: " ne_id | min_zoom | featurecla | ne_name" ]

1159150235 | 5.6 | Populated place | Peace River
* now: https://www.wikidata.org/wiki/Q2220 ( river )
* proposal: https://www.wikidata.org/wiki/Q1743985 (town in Alberta )

1159149079 | 6 | Admin-0 capital | Tarawa
* now:  https://www.wikidata.org/wiki/Q2486

[2020-12-30 09:02] Andrettin commented on #358
@mizmay Thank you! And it's great to see some activity in this repository again :) This is an amazing project! Is there a way to contribute to it?

[2020-12-30 09:08] ImreSamu opened #460 "wikidata | 10m populated_places | extreme distance candidates .. for debug"
case:  "no wikidata yet"   AND  the best proposal in the wikidata is too far ..
* probably needs a deeper debugging  ( double checking the coordinates in NE  and/or Wikidata ... )

|ne_id	| min_zoom | ne_name	 |   best candidate in wikidata  |_distance_category |
| ------| ---------| ------------| ----------------------------------| ------------------|
|1159130147| 7	 | Shashi |	Shashi	https://www

[2020-12-30 12:25] ImreSamu opened #461 "wikidata | 10m populated_places | other proposals ..."
| ne_id	   | min_zoom |	featurecla	| ne_name |	proposal wd_id |
| ---------- | --- | ------------------ | ----------  | ---------------------------------- |
| 1159139143 | 6.7 | 	Admin-1 capital | Xiangkhoang |	Xieng Khouang	https://www.wikidata.org/wiki/Q2597463 |
| 1159140703 | 6.1 |	Populated place | Gar | Gar Chongsar	https://www.wikidata.org/wiki/Q5524556 |
| 1159140801 | 6.7 |	Populated plac

[2020-12-30 17:09] nvkelso commented on #461
Thank you, these all look promising! Are you using the scripts as before or manually reviewing?

Please note: With New Years Eve my responses will be delayed the next couple days.

[2020-12-30 21:37] jmaira commented on #456
Resolved. Already downloaded. Issue was probably due the my previous IP.

[2020-12-30 21:37] #456 closed

[2020-12-31 00:47] ImreSamu commented on #461
both of them
* now I am refreshing the "old" scripts ( adding `ne_id`,  updating wikidata taxonomies , ...   +  still working on the WOF scripts ...  )
* AND  manually checking the results  ( including low scored suggestions )

my wikidata-ne suggestions ( multiple issues in the last few days )
~ 90%  based on scripts results
~ 10%  based on manually debugging strange cases ...

imho:  it is a hig

[2020-12-31 05:01] mizmay commented on #293
https://en.wikipedia.org/wiki/Sub-prefectures_of_Chad

[2020-12-31 05:05] mizmay commented on #293
[code]

[2020-12-31 05:26] mizmay commented on #293
Here are all the cities in NE populated places located in Chad:

[code]

[2020-12-31 17:36] Andrettin commented on #459
@ImreSamu can that data be used for this project? Wouldn't there be a license incompatibility, as wikidata is licensed under the CC-BY-SA and Natural Earth under the CC0? Unless the next version of Natural Earth has CC-BY-SA as its license...

Perhaps @nvkelso can clarify.

[2021-01-01 00:17] ImreSamu commented on #459
@Andrettin:

yes, I agree with you, the license is extreme important !

I am not a license expert, and my basic understandings is:

My "matching" work is based on **"Wikidata Dump"** -  see https://dumps.wikimedia.org/legal.html
* _"Wikidata:  Rights in Wikidata are waived using the Creative Commons Zero public domain dedication."_

other info: https://www.wikidata.org/wiki/Wikidata:Licensing
* _"

[2021-01-01 08:33] Andrettin commented on #459
@ImreSamu It was an error on my part then, sorry for the misunderstanding and thanks for the clarification!

[2021-01-01 08:59] ImreSamu commented on #459
@Andrettin : No problem :smile:  ;  If you have any question, proposal,feedback - just ask :+1:

[2021-01-01 09:39] ImreSamu opened #462 "ne_10m_ports | missing ne_id column"
As I see
-  in the "ne_10m_ports" table - the new `ne_id` column is still missing.

( my refactored code - now -  expecting `ne_id` column  "everywhere"  ... and after I can create some basic wikidataid suggestions   )

![image](https://user-images.githubusercontent.com/2217320/103436551-2268fb00-4c1d-11eb-9891-af93d0b79011.png)

but the matching is very low ...

[code]

[2021-01-01 10:39] ImreSamu opened #463 "wikidata | ne_10m_airports"
proposed changes:

**1159116365 | Airport | Kanpur**
* now: https://www.wikidata.org/wiki/Q10852571 ( closed! )
* proposed: Kanpur Airport	https://www.wikidata.org/wiki/Q6364347
  * please modify the GPS code in the NE table !

**1159119791 | Airport | Kunming Wujiaba Int'l**
* now:	https://www.wikidata.org/wiki/Q1190274  ( Closed in 2012! )
* proposal: "Kunming Changshui International Airport"	ht

[2021-01-06 16:46] nvkelso opened #464 "Travis CI is failing"
It fails on `brew uninstall python mercurial postgis sfcgal cgal gdal`

https://travis-ci.org/github/nvkelso/natural-earth-vector/jobs/749392272

_Originally posted by @curran in https://github.com/nvkelso/natural-earth-vector/issues/457#issuecomment-754933048_

[2021-01-07 00:28] Maxszik opened #465 "Feature request: Mountain Passes"
I wish passes were a part of natural Earth. The Khyber Pass, The Brenner Pass, Torugart and so many others carry historical, cultural and contemporary importance. If we have peaks and capes in the dataset, for example, I think mountain passes deserve a place as well.

[2021-01-07 00:32] Maxszik opened #466 "Feature request: canals and waterways"
Without canals and man-made waterways, Natural Earth feels sort of incomplete. It would be truly useful to have, in order to render a complete map.

I remember reading from the maintainer of Natural Earth somewhere long ago, that this data seemed impossible to find. Can it still be so?

[2021-01-07 16:55] Andrettin commented on #465
I definitely agree. And I think the project would also benefit from having forest geopolygons for the physical label geographical areas.

[2021-01-07 20:20] nvkelso commented on #465
Great idea! Do you have any data or research time to contribute for mountain passes?

[2021-01-07 20:21] nvkelso commented on #466
Great idea! Do you have any data or research time to contribute for canals?

[2021-01-07 20:41] Andrettin commented on #465
@nvkelso Would geocoordinates set out in 19th century books be a permissible source of information for the project (considering they are in the public domain)? I have some experience with researching them, so I could see if I manage to find something useful. I imagine this could be helpful to get the geocoordinates of points such as mountain passes and settlements.

[2021-01-07 21:02] nvkelso commented on #465
Yes, that should be fair game. But we'd want to adjust to match the SRTM based relief, admin boundaries, and roads that are in Natural Earth.

Is there a source similar to https://peakbagger.com/ but for passes?

[2021-01-08 13:26] ImreSamu commented on #465
Wikidata info:
* "mountain pass" : https://www.wikidata.org/wiki/Q133056

* basic WikidataQuery  ( MountenPass AND has a coordinate! )
   * https://w.wiki/tdv  +  "Execute Query" !
      * now:20631 results ( needs more cleaning; deduplication , ... )
       * with optional: English wikipedia links  (`?articleEN`) ; mountainRange ; Elevation , Country  )
      * adapt/modify - and press `</>Code>`

[2021-01-09 14:43] Andrettin commented on #465
I found this book with some geocoordinate information on mountains passes:

https://books.google.at/books?id=JHbXAAAAMAAJ&pg=PA342&dq=mountain+pass+latitude&hl=de&sa=X&ved=2ahUKEwiRy-by24vuAhWGy4UKHUjSDFcQ6AEwAXoECAQQAg#v=onepage&q=mountain%20pass%20latitude&f=false

I was thinking of entering its data manually in a geodata file, but I suppose the wikidata query by @ImreSamu could collect that inf

[2021-01-11 21:52] ImreSamu commented on #465
@Andrettin

I don't know what is the best method ..  but in the end we should match the results with the Wikidata  ( so need a WikidataID )

imho:  the original "20631" record is too much ... for manual checking
Maybe we can limit, and keeping only the wikidata records -  with English Wikipedia page.
so _" mountainPass AND has an english wikipedia page AND has a Coordinate! "_
 *  https://w.wiki/t

[2021-01-11 21:57] nvkelso commented on #465
This should probably number in low hundreds of features, some small fraction of mountain peak count?

[2021-01-11 23:23] Maxszik commented on #465
Hello,

_Great idea! Do you have any data or research time to contribute for mountain passes?_

I definitely have the time and desire to contribute. Experience and skills, unfortunately, no. I have no idea about the methodology and how to process data. If someone could point me to some instructions that would be great.

I agree with @nvkelso that the above example with all those wikidata passes is

[2021-01-11 23:36] nvkelso commented on #465
That list looks legit, if too exhaustive (almost 1000 passes). BTW, the red links don't have a full page, the blue links do. That's sometimes a good indicator for how "significant" the feature actually is.

I'd cross reference this list with lists of "top 10 passes" (or 20) by continent and see what's common.

[2021-01-13 23:51] ImreSamu commented on #465
The good news:   There are already 2 "mountain pass"  in the NE database.  { `Khyber Pass`,`Chilkoot Pass`}
*  ` 10m_physical/ne_10m_geography_regions_elevation_points`    ...  `where featurecla='pass' `

|   ne_id    | min_zoom |     name      | featurecla | elevation |    region     | wikidataid | wdid_score |    name_en    |     name_fr     |    name_de    |
|------------|----------|-----------

[2021-01-14 22:53] elliotap opened #467 "10m populated places: Name for Rangoon should be anglicized as "Yangon""
For feature 1159151477, name=Rangoon, namealt=Yangon, and name_en=Yangon. Yangon appears to be the common spelling, although Rangoon may be preferred by American/British foreign policy institutions.

https://en.wikipedia.org/wiki/Yangon
https://www.bbc.com/news/magazine-16000467

[2021-01-14 23:08] nvkelso commented on #467
Maybe?

We already have `Yangon` as the name_alt. But I do recognize the inconsistency `between` name and `name_en`.

Perhaps the answer is to make `Yangon` name and `Rangoon` as name_parenthetical as it is the conventional / historic spelling for the place. Sounds like it changed a while ago, but this change was new to me.

[2021-01-14 23:38] elliotap commented on #467
I've seen the country often labeled as Myanmar (Burma) so the parallel structure would make a lot of sense - I did some reading on the geopolitics of the naming/spelling conventions a few months ago but still don't have a clear understanding of the stakes of the issue.

For reference also, this is their order on the renaming of places: https://www.burmalibrary.org/sites/burmalibrary.org/files/obl/

[2021-01-15 00:32] elliotap opened #468 "10m populated places: location precision for Windsor, Ontario"
Windsor, Ontario, id 1159147661, is currently located on the USA side of the USA/Canada border at 42.33329327300,-83.03334029310

Requesting slight adjustment to move feature across the border to 42.311024115116965, -83.0349099770059 or thereabouts.

https://www.openstreetmap.org/#map=11/42.3118/-83.0285

![image](https://user-images.githubusercontent.com/64806657/104665381-ff5f3200-5685-11eb-86f8

[2021-01-15 00:57] nvkelso commented on #468
Yikes!

[2021-01-18 20:13] olekrd7 opened #469 "QGIS mistakenly depicting the Crimean peninsula"
QGIS app based on the most recent large scale countries (version 4.1.0) from natural earth data for some reason depicts and defines Crimea and the entire peninsula as part of Russia although the UN, OSCE, EU and many other international organizations have not recognized the occupation of Crimea by Russia. Hence, according to the international law in the app Crimea should be depicted as part of Ukr

[2021-01-18 20:27] nvkelso commented on #469
Can you attach a screenshot, please?

[2021-01-20 07:22] nvkelso commented on #410
The basic name columns needed an update, even though the translated name_* columns had (mostly) already gotten the update.

[2021-01-20 08:08] nvkelso commented on #410
Partially addressed in 57c3d2f8a53c0ce332b1e2b26f3c442503b308ea, but needs an DBF export and Mapshaper rebuild.

[2021-01-25 07:24] jmikola commented on #469
@nvkelso: This appears to be the same issue reported in #401, #390, #391, which are currently being tracked in your [v5.0.0 milestone](https://github.com/nvkelso/natural-earth-vector/milestone/5).

[2021-01-25 07:33] nvkelso commented on #469
I agree, but am curious about the QGIS part and if something there will need an update, too, once v5 of Natural Earth is released.

[2021-01-25 07:56] Andrettin commented on #469
@nvkelso I don't think it has anything to do with QGIS, it was probably just the app they happened to use to open it. The Natural Earth country map seems to generally follow the de facto situation rather than de jure, as can be seen e.g. in Western Sahara as well.

[2021-01-30 13:06] olekrd7 commented on #469
@Andrettin, indeed, it is more relater to the Natural Earth creators, not to qgis specifically. do you know whom I should contact fron Natural earth regarding this matter? I see there were previously discussions in this forum regarding their approach, but it indeed distorts the international law

[2021-01-30 17:28] pnorman opened #470 "Website replaced with SEO/website design page"
http://naturalearthdata.com/ is not returning the Natural Earth website

[2021-01-30 18:01] SomeoneElseOSM commented on #470
CDN seems unaffected, so https://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip appears to be still there (and the same file as it was the last time this problem occurred)

[2021-01-30 19:25] nvkelso commented on #470
Looks like the web host changed serves again. I’ll ping them...

In the meantime file hosting was approved for AWS, I plan on setting that up in Feb.

[2021-01-31 00:25] nvkelso commented on #470
The secure site works now after updating A record IP address (the server moved again): https://www.naturalearthdata.com/

The unsecure http://naturalearthdata.com still shows the other content (see below).

The https link works fine and is recommended:
- https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/110m/cultural/ne_110m_admin_0_boundary_lines_land.zip
- (note https and

[2021-01-31 00:41] nvkelso commented on #470
The redirect from http to https seems to work again (took longer to propagate). Closing.

[2021-01-31 00:41] #470 closed

[2021-01-31 05:36] nvkelso commented on #453
The default **name** value should change to `Rada'a` and **name_alt** to `Rida` to preserve the earlier value, and **nameascii** value should change to `Radaa`. The **geonameid** should be `71491`.

[2021-01-31 06:30] nvkelso commented on #449
**Adapazarı** with ne_id of `1159146375 ` should be changed as **featurecla** to `Admin-1 capital`. The other place near here **Sakarya** should be deleted. Technically both these places are true in their own ways, but we only need a single point here for balance in the overall composition.

The **name_alt** of `1159146375` should change to `Sakarya`.

Delete Sakarya **ne_id** `1159113425` entirel

[2021-01-31 06:41] nvkelso commented on #419
For **ne_id** `1159148923` , the default **name** value should change to `Saguenay` and **name_alt** to `Chicoutimi` to preserve the earlier value, and **nameascii** value should change to `Saguenay`. The GeoNames ID is good as-is. The **pop_max** is `144746` and the new **pop_rank** is `9`.

[2021-01-31 07:01] nvkelso commented on #411
For **ne_id** `1159149137` , the default **name** value should change to `Huludao ` and **name_alt** to `Jinxi` to preserve the earlier value, and **nameascii** value should change to `Huludao`. The **pop_max** is `724800` and the new **pop_rank** is `11`.

[2021-01-31 07:20] nvkelso commented on #406
For **ne_id** `1159149783` , the default **name** value should change to `Baise` and **name_alt** to `Bose` to preserve the earlier value, and **nameascii** value should change to `Baise`.

[2021-01-31 07:39] nvkelso commented on #389
I disagree with this.

Instead the **FEATURECLA** should be `Admin-0 capital alt`. There are still national gov't operations here.

But it must be paired with **ne_id** of `1159149731` to **FEATURECLA** of `Admin-0 capital`. The official capital has been moving here from the 1970s... but it's been slow going but seems mostly completed.

[2021-01-31 07:46] nvkelso commented on #388
I suppose we can make all the **FCLASS** variants `Admin-1 capital`... but in Natural Earth-isms the default **FEATURELCA** should not be changed from `Admin-0 capital alt`.

[2021-01-31 07:53] nvkelso commented on #387
Agree with this.

[2021-01-31 08:05] nvkelso commented on #385
I agree with this change. It has all 3 branches of gov't now.

[2021-01-31 08:07] nvkelso commented on #384
I agree with this fclass change.

[2021-01-31 08:12] nvkelso commented on #383
For **ne_id** `1159149907 ` , the default **name** value should change to `Shijiazhuang` and **name_alt** to `Shimen, Shihkiachwang` to preserve the earlier value, and **nameascii** value should change to `Shijiazhuang`.

[2021-01-31 17:31] nvkelso commented on #381
Let's go a little slower here. While most administrative functions _have_ moved to the new capital, many of the ministry's functions still happen in the old capital and many foreign embassies are still in the old capital.

For **ne_id** `1159151477`, **FEATURECLA** to 'Admin-1 capital alt', the default **name** value should change to `Yangon` and **name_alt** to `Rangoon` to preserve the earlier v

[2021-01-31 17:43] nvkelso commented on #377
I agree with this.

For reference, the city Wikipedia page is https://en.wikipedia.org/wiki/Mecca.

[2021-01-31 18:10] nvkelso commented on #373
Google Maps, Times Atlas, and multiple National Geographic atlases all have this town. Some of them have it as a tiny village, some as a regional center (it's very rural). The bad pop probably came from a bad join on the Landscan population estimate because of the other bigger city in Brazil. Usually those were namespaced, but looks like this one slipped thru.

**wikidataid** of `Q18471012` and se

[2021-01-31 18:13] nvkelso commented on #371
No, in Natural Earth they are both still listed 3 different countries but under the same sovereignty (China). You can argue https://en.wikipedia.org/wiki/One_country,_two_systems is no longer in force with recent events the last 12 months. But until Natural Earth changes w/r/t the countries, they should stay admin-0 capitals.

[2021-02-01 03:52] #371 closed

[2021-02-01 05:17] nvkelso commented on #368
👍

[2021-02-01 05:26] nvkelso commented on #367
Closing as not to be fixed.

The current **featurecla** of `Admin-0 region capital` reflects it's status as capital of the admin-0 region of `Autonomous Province of Vojvodina`, one of the two regions of Serbia that sit above the province level. Often region capitals are also province capitals, but the higher order wins for the single feature class status.

[2021-02-01 06:03] nvkelso commented on #364
I disagree with this suggestion, closing.

Johannesburg is the seat of the [Constitutional Court](https://en.wikipedia.org/wiki/Constitutional_Court_of_South_Africa), the highest court in South Africa so under Natural Earth's peculiar system of measure, it's a capital but (like Valparaíso in Chile) should instead be marked `Admin-0 capital alt`.

This is in addition to the formal judicial capital

[2021-02-01 06:06] nvkelso commented on #362
👍

[2021-02-01 06:32] nvkelso commented on #358
While I see Natal at that location in the National Geographic atlas (with a large townspot), on the Times Atlas (with small townspot), and even in Google Maps (as an unsubstantiated village), this doesn't seem to have regional significance and I agree with deleting it.

[2021-02-01 06:33] nvkelso commented on #358
@Andrettin Thanks for your kind words! @mizmay has filed a PR https://github.com/nvkelso/natural-earth-vector/pull/457 the shows one path forward for contributing. Do you have any QGIS experience, or would contributing via script be better for you?

[2021-02-01 06:44] nvkelso commented on #356
The `Noginsk` near Moscow with **ne_id** of `1159137287` and is a legit place and should **not** be deleted.

I agree the other `Noginsk` away in Siberia with **ne_id** of `1159146611` is a ghost town. We have **featurecla** = `Historic place` for that. I recommend changing the feature class instead of deleting as it does appear on most print atlases and is historically significant.

[2021-02-01 06:54] nvkelso commented on #339
**name** to `Shiquanhe`
**name_par** to `Gar`
**name_alt** of `Ger, Sênggêkanbab, Sênggêzangbo, Sengge Zangbo, Senge Zangbo, Senge Zangbu, Sengghe Tsangpo`
**wikidata_id** of `Q2279283`.

[2021-02-01 06:58] nvkelso commented on #334
What a curious history.

[2021-02-01 07:11] nvkelso commented on #334
So the current place with **ned_id** of `1159139297` has a long history, so another alternate is to mark it **featurecla** = `Historic place`. But it was added after v1.0 which indicates to me the intent was to capture `Ust-Bolsheretsk` instead, which is a larger active town north of there.

So I favor:

**name** to `Ust-Bolsheretsk`
**wikidataid** to `Q2502620`
Move it north to `52.825, 156.285`

[2021-02-02 06:28] nvkelso commented on #330
Let's use **ne_id** = `1729769925 `.

**pop_min, pop_max, pop_other** should all be `1972` with **rank_max, rank_min** of `3`.

[2021-02-02 06:42] nvkelso commented on #318
Closing.

This is a relatively small town and we already have good density of populated places in southern Norway at our maximum scale (with admittedly leaves out most cities).

[2021-02-02 06:42] #318 closed

[2021-02-02 06:46] nvkelso commented on #310
👍 Thanks for the tip, I agree.

[2021-02-02 07:11] nvkelso commented on #413
@mizmay can you add this one to your PR, please?

[2021-02-02 07:13] nvkelso commented on #374
@mizmay can you add this one to your PR, please?

[2021-02-02 07:14] nvkelso commented on #380
@mizmay can you add this one to your PR, please?

[2021-02-02 07:14] nvkelso commented on #333
@mizmay can you add this one to your PR, please?

[2021-02-02 07:15] nvkelso commented on #335
@elliotap The fix here is to make sure Wikidata is corrected, then rerun the NE-WD update scripts.

[2021-02-02 07:18] nvkelso commented on #293
Updates:

- Fada with **ne_id** of `1159148415 to **featurecla** of `Admin-1 capital`. The **wikidataid** of `Q985562` is already good.
- Pala with **ne_id** of `1159140345` to **featurecla** of `Admin-1 capital`. The **wikidataid** of `Q1774419 ` is already good.

Additions:

_Because Natural Earth should have all admin-1 capitals – even if some have a higher min_zoom than default visibility at z

[2021-02-02 07:27] nvkelso commented on #354
Thanks for the report @josh26turner!

This is a duplicate of https://github.com/nvkelso/natural-earth-vector/issues/313, closing.

[2021-02-02 07:28] nvkelso commented on #313
/cc @josh26turner who reported the same in #354.

[2021-02-02 07:30] nvkelso commented on #317
Thanks for the feedback.

We don't make a promise about consistent names between admin and geounit – it's not consistent in other place (look at disputed territories. Closing as not-to-be-fixed.

If you tell me more about your use case and why this is important to you I'll consider reopening the issue.

[2021-02-02 07:30] #317 closed

[2021-02-02 07:45] jwva commented on #380
Great to see all the update activity. Thank you. Much appreciated. Looking forward to the new release!

[2021-02-02 13:29] divinity76 commented on #318
btw would a PR for horten be rejected because Horten is too small/unremarkable ?

[2021-02-04 02:27] almccon opened #471 "Banghazi should be Benghazi"
The city of Benghazi has the incorrect (or at least extremely uncommon) spelling of "Banghazi" as NAME, NAMEASCII, MEGANAME, LS_NAME, and GN_ASCII. It has the correct "Benghazi" spelling for NAMEALT, ADM1NAME, CITYALT, and name_en.

The Wikidata item doesn't show the "Banghazi" spelling at all. https://www.wikidata.org/wiki/Q40816

[2021-02-04 07:57] nvkelso commented on #471
Uff, good find. @mizmay can you add this one to your PR, too, please?

[2021-02-04 10:05] ImreSamu commented on #471
side notes:

probably based on the arabic-latin transliteration  ( "Banġāzī" )  + unaccented version

* https://en.wikipedia.org/wiki/Benghazi#cite_note-14
" Arabic: بنغازي‎[6] **Banġāzī,** Libyan Arabic: [bənˈʁɑːzi] (About this soundlisten); Italian: Bengasi; Turkish: Bingazi; Berber languages: Bernîk; also: Bengasi,[7] Benghasi,[8] Banghāzī,[9] Binghāzī,[10] Bengazi;[11] Ancient Greek: Βερενίκη

[2021-02-07 05:33] mizmay commented on #449
Sure. Here are the fields with significantly differing values:

| ne_id | SCALERANK | NATSCALE | min_zoom | wof_id | POP_MAX | POP_MIN | POP_OTHER |
|-|-|-|-|-|-|-|-|
| 1159113425 (deleted) | 10 | 1 | 7 | 101912667 | 286787 | 286787 | 0 |
| 1159146375 (maintained) | 6 | 30 | 5.1 | 1141908503 | 260109 | 260109 | 226654 |

The BBOX and other values are only populated in the maintained record.

[2021-02-07 20:56] mizmay commented on #333
I think Q14875338 is the right Wikidata ID for this. There are no localizations associated with it though so won't make a difference this round.

[2021-02-08 20:44] Drumstick42 opened #472 "Two Lake Onega features in Lakes + Reservoirs (110m)"
I opened up the most recent version of the 110m lakes and reservoirs data set in QGIS. In the attribute table for the layer, there are two entries for Lake Onega. One is in Russia, and the other is in the continental U.S. Judging by the lat/lon of the feature in the U.S., Salt Lake is incorrectly labeled as Lake Onega.

[2021-02-09 09:14] svbatalov opened #473 "Some urban areas cover two similarly-named cities at once"
This is about data from https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-urban-area/.

It looks like as of version 4.0.0 entries named `Bathurst1`, `Cadiz1`, `Cadiz2`, `Bathurst2` and `Newcastle` cover two cities (in different countries) each. For instance, `Newcastle` one consists of polygon for [Newcastle, NSW, AU](https://en.wikipedia.org/wiki/Newcastle,_New_South_Wales) and

[2021-02-11 06:13] nvkelso commented on #469
Closing in favor of the earlier issues #401, #390, #391, which are currently being tracked in the v5.0.0 milestone already.

[2021-02-11 06:13] #469 closed

[2021-02-11 06:14] nvkelso commented on #467
Duplicate of https://github.com/nvkelso/natural-earth-vector/issues/381, which is already scheduled for release. Closing.

[2021-02-11 06:14] #467 closed

[2021-02-11 06:16] nvkelso commented on #462
Huh, I'll fix that in v5.0!

[2021-02-11 06:17] nvkelso commented on #461
Scheduling this for 5.1

[2021-02-11 06:17] nvkelso commented on #460
Scheduled for 5.1

[2021-02-11 06:18] nvkelso commented on #459
Scheduled for v5.1

[2021-02-11 06:19] nvkelso commented on #458
Scheduled for v5.1

[2021-02-11 06:27] nvkelso commented on #429
Who's On  First has been updated, so pull those updates in here.

[2021-02-11 06:27] nvkelso commented on #427
This data has been contributed but needs to be integrated.

[2021-02-11 06:29] #417 closed

[2021-02-11 06:34] nvkelso commented on #415
Thanks for alerting us! I've removed the bad link – looks like someone else claimed that domain after it expired :(

[2021-02-11 06:34] #415 closed

[2021-02-11 06:38] adiku commented on #427
Thanks, keep us posted on when integration is done.

[2021-02-11 06:40] #370 closed

[2021-02-11 06:44] #354 closed

[2021-02-11 06:45] #349 closed

[2021-02-11 06:51] #345 closed

[2021-02-11 06:52] nvkelso commented on #341
Perhaps keep it as a different feature class? Needs more research.

[2021-02-11 06:53] #336 closed

[2021-02-11 06:56] nvkelso commented on #325
There's another issue that reports the same...

[2021-02-11 06:57] #321 closed

[2021-02-11 07:00] #287 closed

[2021-02-11 07:03] nvkelso commented on #265
It redirects to Github directly now, closing.

[2021-02-11 07:03] #265 closed

[2021-02-11 07:05] nvkelso commented on #251
No activity, closing.

[2021-02-11 07:05] #251 closed

[2021-02-11 07:06] #248 closed

[2021-02-11 07:06] nvkelso commented on #235
History.

[2021-02-11 07:07] #228 closed

[2021-02-11 07:13] nvkelso commented on #466
This is a dupe of https://github.com/nvkelso/natural-earth-vector/issues/15.

[2021-02-11 07:13] #466 closed

[2021-02-11 07:18] nvkelso opened #474 "Update North American supplemental hydro"
Per Tom Patterson's recent work.

[2021-02-11 07:19] nvkelso opened #475 "Add Australia supplemental hydro at 10m"
Per Tom Patterson's new contribution.

[2021-02-11 07:21] nvkelso opened #476 "Add South America supplimental hydro"
Per contribution from Alex Fries, coordinated by Tom Patterson.

This might make it into v5.0 else v5.1

[2021-02-14 05:21] nvkelso commented on #5
I reviewed existing values in the populated places theme, and associated themes that drive values in some of the columns. The table below as the `old` (original) field definition, the `draft` in this PR as of the last commit, and my `proposed` definition based on this research. I explain some rational in the `comment`.

In all cases I'm using 100 char for names.

 In some cases I'm marking some fi

[2021-02-14 05:23] nvkelso opened #477 "Delete outdated columns from populated places themes"
Similar to https://github.com/nvkelso/natural-earth-vector/issues/5 which calls for fields to use more reasonable definitions (eg if it's a boolean value use Int with length of 1), this issue tracks removing outdated columns that either contain outdated content, are duplicative of other columns, or are otherwise not maintained.

Specifically:

I reviewed existing values in the populated places the

[2021-02-14 05:31] nvkelso commented on #423
This is a duplicate of https://github.com/nvkelso/natural-earth-vector/issues/355, closing.

[2021-02-14 05:31] #423 closed

[2021-02-14 05:32] nvkelso commented on #355
/cc @tmcgilligan-IAU and @segheysens

[2021-02-14 05:36] nvkelso commented on #355
In earlier version it looked like:

![image](https://user-images.githubusercontent.com/853051/107869472-60278900-6e43-11eb-89db-970414630bca.png)

Now in v5-pre it looks like:

![image](https://user-images.githubusercontent.com/853051/107869490-8cdba080-6e43-11eb-986e-1f4abf3395c5.png)

[2021-02-14 05:50] nvkelso commented on #313
Agree this is a problem. It appears this is caused by the lease area and the sov being at the same level in the src table with the same sov values ('KAZ') where normally it would be `KA1` in keeping with the complexity. In the case of Cuba the lease area is sequentially in the row after the sov so it just works.

Two actions:

- Move the lease row below the sov row so order of operations wins in j

[2021-02-14 06:22] nvkelso commented on #313
Fixed via 3739a74e16ed39f707aeae9e8443f2a44b789ba3 in for both Kazakhstan and Cuba. Was problem in all the sov 10m, 50m, 110m scalesets. Also fixed in admin-1.

![image](https://user-images.githubusercontent.com/853051/107870010-9405ad00-6e49-11eb-9993-d0018aade3a6.png)

![image](https://user-images.githubusercontent.com/853051/107870016-9ff16f00-6e49-11eb-9ddc-7730d9f3bfbb.png)

[2021-02-14 06:23] nvkelso commented on #244
Some history is shallow not deep, closing as too deep for NE.

[2021-02-14 06:23] #244 closed

[2021-02-14 06:33] nvkelso commented on #282
@jirik @pathmapper can you confirm this is in the 1:10m countries theme in Natural Earth, please?

[2021-02-14 06:44] nvkelso commented on #235
Fixed in 155a6fdc2a2e062c5ce80b23a7e4c2370758d538.

[2021-02-14 07:29] nvkelso commented on #221
Fixed via c034dccd73b13a4a2a8e4f0187562bcd7ee1b347.

[2021-02-14 07:51] pathmapper commented on #282
@nvkelso just confirmed the scale ranks in the table of https://github.com/nvkelso/natural-earth-vector/issues/282#issue-385721775

Yes, this is 1:10m countries theme (`ne_10m_admin_0_countries`).
`4.0` data from:
https://github.com/nvkelso/natural-earth-vector/archive/v4.0.0.zip
`4.1` data from:
https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_0_c

[2021-02-14 19:45] nvkelso commented on #331
Starting in the v5.0 series, there are additional "point-of-view" (POV or worldview) versions of the countries theme available, including one for China which depicts Taiwan as an integral part of China (eg a province) instead of a separate sovereign country. Other disputed areas (not along China's direct sovereign frontier) around the world are also available to match the Chinese POV.

There is al

[2021-02-14 19:48] nvkelso commented on #255
![image](https://user-images.githubusercontent.com/853051/107887356-6d338f00-6eba-11eb-9e28-f66a1f2e33f2.png)

![image](https://user-images.githubusercontent.com/853051/107887367-7fadc880-6eba-11eb-90da-03d2c6a74667.png)

![image](https://user-images.githubusercontent.com/853051/107887376-8b998a80-6eba-11eb-8a97-7f740a288d64.png)

[2021-02-14 19:55] nvkelso commented on #268
Natural Earth's practice is to be strict on the ISO code mappings. The "strict" mapping are already available in the other map unit admin detail themes (not country).

Because Natural Earth has a more fidelity than ISO, and tracks countries that ISO doesn't, Natural Earth maintains it's own set of 3-character codes for each admin-0 related feature. The original intent was consumers of Natural Eart

[2021-02-16 23:24] mizmay commented on #471
Oops I missed this issue until now. Skimming through original issue and comments, proposed fix:

field | old | new
--- | --- | ---
NAME | Banghazi | Benghazi
NAMEALT | Benghazi | Banġāzī
NAMEPAR | |
NAMEASCII | Banghazi | Benghazi
ADM1NAME | Benghazi | Benghazi
MEGANAME | Banghazi | Benghazi
LS_NAME | Banghazi | Benghazi

& verified that the wikidataid is correct and will pick up the localizations

[2021-02-18 05:17] nvkelso commented on #476
Punting to v5.1 as still WIP.

[2021-02-18 05:19] nvkelso commented on #475
Files have been received, but need processing to put into standard project data property schema, assign min_zooms, add NE IDs, add wikipedia IDs, and localized name variants.

[2021-02-18 05:19] nvkelso commented on #474
Files have been received, but need processing.

[2021-02-18 05:21] nvkelso commented on #445
AWS Public Dataset approval has been granted. Need to setup new org and S3 bucket next (with CW logging enabled for analytics), post files, update the download manager, and document direct S3 download links.

[2021-02-23 12:23] pboyden opened #478 "ne_10m_minor_islands missing"
Coverage of islands withing the Indian Ocean is limited. Consider expanding to cover Seychelles, etc.

[2021-02-23 19:38] nvkelso commented on #478
Hi @pboyden! Can you provide more context on your use case, please? Natural Earth's goal is to _not_ have all the islands of the world, but instead to include a geographically balanced sampling of significant islands. Are there specific islands in the Seychelles you think are missing?

[2021-02-23 19:39] anandtiwary opened #479 "Add more 50m data for states/province (like 10m theme)"

[2021-02-23 19:47] nvkelso commented on #427
Tracking this with original issue https://github.com/nvkelso/natural-earth-vector/issues/175.

[2021-02-23 19:47] #427 closed

[2021-02-23 19:47] nvkelso commented on #175
/cc @adiku.

[2021-02-23 19:52] nvkelso commented on #479
The short answer is `no` for two reasons:

- The admin-1 changes a surprising amount of time and it's hard enough to keep the 1:10m theme updated.
- Most admin-1 in the world are too small to be meaningfully displayed at 1:50m scale – like they are only 1 to 20 pixels big.

Longer answer: I do think it would be useful to have _more_ admin-1 included at 1:50m scale for the largest geographic countr

[2021-02-23 21:05] anandtiwary commented on #479
Yeah. If we can include those countries then it would be great. I want to provide more granular markers in our geo map at least the bigger countries.

Is this something we can generate from 10m data? Happy to collaborate on this if you could guide/give a direction.

[2021-02-26 01:02] mapadofu opened #480 "France has ISO3166 Alpha-3 of -99 (and others)"
I just downloaded `ne_110m_admin_0_countries.zip` today. (4.1.0)

I'm seeing that the record for France in `ne_110m_admin_0_countries.shp`

Has some invalid fields
- `ISO_A3 = -99`
- `ISO_A2 = -99`
- `WIKIPEDIA = -99`
- `LASTCENSUS = -99`
- `ADM0_A3_UN =  -99`
-  `ADM0_A3_WB = -99`
- `TINY = -99`

I'm using the data in python like so:

[code]

[2021-02-26 01:25] nvkelso commented on #480
Duplicate of https://github.com/nvkelso/natural-earth-vector/issues/268#issuecomment-778832542.

[2021-02-26 01:25] #480 closed

[2021-02-26 01:25] nvkelso commented on #268
/cc @mapadofu .

[2021-02-26 01:26] nvkelso commented on #348
Dupe of https://github.com/nvkelso/natural-earth-vector/issues/284 and https://github.com/nvkelso/natural-earth-vector/issues/268, closing.

[2021-02-26 01:26] #348 closed

[2021-02-26 01:26] nvkelso commented on #268
/cc @MrGranddy

[2021-02-26 01:51] mapadofu commented on #268
@nvkelso

If I'm following this thread correctly, natural-earth-vector won't set the value for France's 'ISO_A3' field to be 'FRA' (despite the fact that that is the ISO-alpha3 code for France...)  and that I have to use 'ISO_A3_EH' to get France's ISO-alpha3 code.

Am I reading this correctly?

[2021-02-26 02:29] kiwibrew opened #481 "countries10 pop_est year 2017 for Papua New Guinea incorrect"
The 2017 population estimate for Papua New Guinea is stated in this data set as 6,909,701.
The UN's 2017 population estimate for PNG is 8,438,036.

[2021-02-26 03:28] almccon opened #482 "ne_10m_roads: incorrect attributes on a segment of I-94 in North Dakota"
I was filtering `ne_10m_roads` to show only interstates by doing `"level" = 'Interstate' AND "sov_a3" = 'USA'` in QGIS, and I noticed a gap in the road network in North Dakota.

It turns out there's a segment of I-94 that is tagged as name "83" instead of "94", and with "level" = "Federal" instead of "Interstate".

<img width="1146" alt="Screen Shot 2021-02-25 at 7 26 24 PM" src="https://user-imag

[2021-02-26 22:10] elliotap opened #483 "10m populated places: Request to update name for Kuwait City"
for feature 1159151361, requesting to update name value from "Kuwait" to "Kuwait City" - this appears to be the customary English name for the place

Sources:
AP files from Kuwait City: https://apnews.com/hub/kuwait-city
https://en.wikipedia.org/wiki/Kuwait_City
https://www.geonames.org/285787/kuwait-city.html

[2021-02-28 05:00] nvkelso commented on #481
I'm updating all the countries per World Bank population and GDP at the moment. The new population estimate per World Bank will be `8,776,109` circa 2019.

[2021-03-01 00:48] nvkelso commented on #481
Via 0fdbda702479e7fe2c0ed91d6276e5da688171a2.

[2021-03-02 11:13] mayeulk opened #484 "Documentation to explain how to change the language of the names"
Some documentation should help the user of the QGIS package to change the language preferences. (Default is: Greek)
Something like, in a readme / documentation file:

_You can select your preferred language for labelling countries, cities, seas and other features.
To do so, in QGIS, once you have opened the Natural Earth project file (Natural_Earth_quick_start_for_QGIS_v3.qgs),
select the menu "Pr

[2021-03-02 19:45] nvkelso commented on #484
Good idea! On website and also go in a file in the QGIS package zip download. I'll consider to change the default to English, too.

[2021-03-02 20:20] anandtiwary commented on #479
@nvkelso Could you please help in including those countries data at 50m scale?

[2021-03-02 20:37] nvkelso commented on #479
If you want to run the 10m boundary lines thru mapshaper to match the 50m simplification, and work on getting their polygons to build, that'd be helpful! But it'll likely be for v5.1 release.

[2021-03-03 04:14] nvkelso commented on #425
For **ne_id** = `1159108899`, I agree that feature should get _smaller_ (A in annotation below) so it's just the southern portion.

A large portion of the original shape to the north (B) should be retained as a new feature (generate a new **ne_id** from https://www.brooklynintegers.com/create/) and with **name** = `Whitefish Lake`, and it should get a new **wikidata_id** (please research) so it pi

[2021-03-03 04:23] nvkelso commented on #360
I agree the **featurecla** should `Ferry` and the **type** should change to either `Ferry Route` or `Ferry, seasonal` based on further research (please comment sources). This is shown in "red" in the screenshot below.

There are 2 other shorter lines going to Cozumel from the mainland directly offshore. They both have different problems, but should match the **featurecla** and **type** above. Thes

[2021-03-03 04:54] nvkelso commented on #396
Scheduled for v5.1 milestone. I agree the inland portion should be split off with **name** = `Telangana`, and the remaining coastal portion should retain **name** = `Andhra Pradesh`. The **wikidata_id** is [Q677037](https://www.wikidata.org/wiki/Q677037). There are a few other properties you can copy over from the one state to the new one. But some of the concordances, populations & etc should be

[2021-03-03 05:04] nvkelso commented on #396
Who's On First is my first reference for open data for admin polygons, and is more up-to-date than Natural Earth. In this case there is a record with polygon for the new state we can reference:

- https://spelunker.whosonfirst.org/id/1108805979/

![image](https://user-images.githubusercontent.com/853051/109755307-9df21480-7b9a-11eb-956d-a36c3f5fb320.png)

Note the "Download GeoJSON link" which get

[2021-03-04 08:23] nvkelso commented on #419
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #419 closed

[2021-03-04 08:23] nvkelso commented on #453
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #453 closed

[2021-03-04 08:23] nvkelso commented on #449
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #449 closed

[2021-03-04 08:23] nvkelso commented on #411
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #411 closed

[2021-03-04 08:23] nvkelso commented on #406
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #406 closed

[2021-03-04 08:23] nvkelso commented on #339
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:23] #339 closed

[2021-03-04 08:24] nvkelso commented on #405
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #405 closed

[2021-03-04 08:24] nvkelso commented on #373
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #373 closed

[2021-03-04 08:24] nvkelso commented on #365
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #365 closed

[2021-03-04 08:24] nvkelso commented on #358
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #358 closed

[2021-03-04 08:24] nvkelso commented on #356
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #356 closed

[2021-03-04 08:24] nvkelso commented on #334
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #334 closed

[2021-03-04 08:24] nvkelso commented on #330
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:24] #330 closed

[2021-03-04 08:25] nvkelso commented on #323
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:25] #323 closed

[2021-03-04 08:26] nvkelso commented on #318
Yes, PR would be rejected for Natural Earth's small list of cities.

But please check to see if it's in Who's On First! If it's not there, it should be :)

[2021-03-04 08:26] nvkelso commented on #389
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #389 closed

[2021-03-04 08:26] nvkelso commented on #388
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #388 closed

[2021-03-04 08:26] nvkelso commented on #387
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #387 closed

[2021-03-04 08:26] nvkelso commented on #385
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #385 closed

[2021-03-04 08:26] nvkelso commented on #384
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #384 closed

[2021-03-04 08:26] nvkelso commented on #383
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #383 closed

[2021-03-04 08:26] nvkelso commented on #381
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:26] #381 closed

[2021-03-04 08:27] nvkelso commented on #377
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] #377 closed

[2021-03-04 08:27] nvkelso commented on #367
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] #367 closed

[2021-03-04 08:27] nvkelso commented on #364
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] nvkelso commented on #362
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] #362 closed

[2021-03-04 08:27] nvkelso commented on #310
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] #310 closed

[2021-03-04 08:27] nvkelso commented on #293
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/457.

[2021-03-04 08:27] #293 closed

[2021-03-04 09:55] divinity76 commented on #318
gotcha, thanks

what's that?

[2021-03-04 18:38] timwallace commented on #269
Looks like it's still missing from these endpoints?
https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_1_states_provinces.zip
https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_admin_1_states_provinces_lakes.zip

[2021-03-04 18:48] nvkelso commented on #269
It’s fixed in v5-prerelease in the branch. Have a look at files in the active PR?

[2021-03-04 19:08] elliotap commented on #360
This is an interesting one - several tourism websites indicate that there is no ferry service between Cancun and San Miguel de Cozumel, and that the ferry service runs from Playa del Carmen. (https://scubamau.com/about-us/getting-here/ ; https://www.cancun-discounts.com/cozumel-ferry.htm ; https://www.cancun-shuttle-transportation.com/destinations/transportation-cancun-airport-to-cozumel). The sit

[2021-03-04 19:17] thesocialdev commented on #24
I want to raise a typo in the name: it should be Brasileira, not Brasiliera. If you're going to translate to English it's fair to say Brazilian Island/Ilha Brasileira.

Source: https://pt.wikipedia.org/wiki/Ilha_Brasileira and https://en.wikipedia.org/wiki/Brazilian_Island

[2021-03-04 19:52] nvkelso commented on #360
Works for me.

[2021-03-04 20:01] nvkelso commented on #24
Thank you for the report!

[2021-03-04 21:04] elliotap commented on #378
Confirmed bridge/road connection does not exist:
https://www.thejakartapost.com/news/2014/11/03/no-more-sunda-strait-bridge-plan.html
https://www.worldhighways.com/wh10/news/indonesia-cancels-sunda-strait-bridge-connecting-java-and-sumatra
https://ieeexplore.ieee.org/document/8629195

Confirmed regular ferry service between Merak-Bakauheni
https://www.indonesiaferry.co.id/komersil/index/15

Propos

[2021-03-04 21:47] elliotap commented on #357
1) Confirmed year-round ferry service for Punta Arenas - Porvenir: http://www.tabsa.cl/portal/index.php/en/services/54-punta-arenas-porvenir-crossing

2) Confirmed year-round ferry service for Quellón - Chacabuco & Quellón - Chaitén: https://www.contactchile.cl/en/travel/boat-trips-ferries/ferries-patagonia.html

3) Confirmed year-round ferry service for Puerto Yungay - Puerto Natales: https://www

[2021-03-04 22:01] nvkelso commented on #357
Agreed.

[2021-03-04 23:06] elliotap commented on #483
Sources in issue suggest name change.

Comparison to Apple:
<img width="1398" alt="Screen Shot 2021-03-04 at 3 02 48 PM" src="https://user-images.githubusercontent.com/64806657/110042550-c98c1080-7cfa-11eb-95ba-f97d535a65aa.png">

Google:
<img width="1680" alt="Screen Shot 2021-03-04 at 3 04 07 PM" src="https://user-images.githubusercontent.com/64806657/110042617-e58fb200-7cfa-11eb-92d4-5c748b8405

[2021-03-04 23:16] elliotap commented on #428
"Sovetskaya Gavan" consistent with wikipedia: https://en.wikipedia.org/wiki/Sovetskaya_Gavan

Google:
<img width="1680" alt="Screen Shot 2021-03-04 at 3 10 52 PM" src="https://user-images.githubusercontent.com/64806657/110043216-e07f3280-7cfb-11eb-8b84-de6b82b8e2ae.png">

Apple:
<img width="1748" alt="Screen Shot 2021-03-04 at 3 11 48 PM" src="https://user-images.githubusercontent.com/64806657/110

[2021-03-04 23:55] nvkelso commented on #483
Keep researching these, please. But hold off on PR for populated places for a couple days to let me wrap up Stephanie’s changes and for #5.

[2021-03-05 00:06] elliotap commented on #398
Verified - wikipedia indicates name was changed to Makassar in 1999
Indonesian name is Kota Makassar (https://id.wikipedia.org/wiki/Kota_Makassar)

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-04 at 3 59 13 PM" src="https://user-images.githubusercontent.com/64806657/110047350-951c5280-7d02-11eb-849a-ba66ad58acdb.png">

Apple:
<img width="1398" alt="Screen Shot 2021-03-04 at 4 00 4

[2021-03-05 10:03] matkoniecz opened #486 "Zalew Włocławski - river shapefile and lake shapefile misaligned"
This issue concerns mismatch between datasets concerning single waterbody - https://www.openstreetmap.org/relation/2329477/history#map=11/52.5968/19.4362

in 10m datasets rivers is outside its own reservoir what makes no sense

![screen01](https://user-images.githubusercontent.com/899988/110099617-ca2bb200-7da1-11eb-9af4-cd91529c974f.png)

I would be happy to try contribute a fix, using Geoportal.

[2021-03-05 10:05] matkoniecz opened #487 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2021-03-05 10:12] matkoniecz opened #488 "Wielkie Jeziora Mazurskie - 10m has poor tracing"
Obviously, at 10m scale full details should not be expected.

But it seems to me that https://www.openstreetmap.org/#map=10/53.8857/21.5195 tracing can be improved to better match actual geometry and to provide better topology

Background: basically real data

Red outline: 10m_lakes dataset

![screen02](https://user-images.githubusercontent.com/899988/110101229-98b3e600-7da3-11eb-8408-db8afe951eda

[2021-03-05 16:42] nvkelso commented on #488
Is there a particular zoom 7 problem you’re trying to solve? Theses polygons were simplified algorithmically a while ago so I’m sure they could use some improvement.

But it is typical to simplify and exaggerate features during scale generalization. Otherwise a lake polygon looks like a line when it’s zoomed out.

[2021-03-05 17:58] elliotap commented on #366
Confirmed: correct name is Akureyri

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-05 at 9 54 59 AM" src="https://user-images.githubusercontent.com/64806657/110154323-fbec4b00-7d98-11eb-88ea-58c993c944c3.png">

Apple:
<img width="1398" alt="Screen Shot 2021-03-05 at 9 55 20 AM" src="https://user-images.githubusercontent.com/64806657/110154347-00b0ff00-7d99-11eb-87d2-9d84fda70b94.pn

[2021-03-05 18:11] elliotap commented on #468
Confirmed

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-05 at 10 08 08 AM" src="https://user-images.githubusercontent.com/64806657/110155723-e37d3000-7d9a-11eb-99e0-a222e63684fa.png">

Apple:
<img width="1398" alt="Screen Shot 2021-03-05 at 10 07 39 AM" src="https://user-images.githubusercontent.com/64806657/110155744-e8da7a80-7d9a-11eb-9316-6a6405828613.png">

OpenStreetMap:
<img

[2021-03-05 18:20] nvkelso commented on #366
Landscan name is a data join unique ID to internal dataset (look in 10_cultural) so shouldn’t change.

Good on the rest!

[2021-03-05 18:22] nvkelso commented on #468
Move sounds good!

The name of the feature is already correct? The issue title spelling is off.

[2021-03-05 18:24] elliotap commented on #468
Shoot! That was a typo on my part

[2021-03-05 19:40] elliotap commented on #409
Tizi Ouzou - Confirmed

Compare to Google:
<img width="1150" alt="Screen Shot 2021-03-05 at 11 37 14 AM" src="https://user-images.githubusercontent.com/64806657/110165092-3c52c580-7da7-11eb-86c2-6b458e9e0b6b.png">

OpenStreetMap:
<img width="1149" alt="Screen Shot 2021-03-05 at 11 37 27 AM" src="https://user-images.githubusercontent.com/64806657/110165118-470d5a80-7da7-11eb-9a59-0f38c582b79e.png">

[2021-03-05 19:42] elliotap commented on #409
Bordj Bou Arréridj - Confirmed

Compare to Google:
<img width="1146" alt="Screen Shot 2021-03-05 at 10 46 45 AM" src="https://user-images.githubusercontent.com/64806657/110165345-a9665b00-7da7-11eb-9580-2564eb73090e.png">

OpenStreetMap:
<img width="1149" alt="Screen Shot 2021-03-05 at 10 46 31 AM" src="https://user-images.githubusercontent.com/64806657/110165371-b125ff80-7da7-11eb-85bd-c88f902c0c

[2021-03-05 19:46] elliotap commented on #409
Paro - Confirmed

Compare to Google:
<img width="1143" alt="Screen Shot 2021-03-05 at 11 44 43 AM" src="https://user-images.githubusercontent.com/64806657/110165767-3d382700-7da8-11eb-90fd-14507c90cc59.png">

OpenStreetMap:
<img width="1147" alt="Screen Shot 2021-03-05 at 11 45 02 AM" src="https://user-images.githubusercontent.com/64806657/110165790-46c18f00-7da8-11eb-884f-374be579c7d2.png">

Prop

[2021-03-05 19:49] nvkelso commented on #409
LGTM

[2021-03-05 19:55] elliotap commented on #409
Punakha - Confirmed

Compare to Google:
<img width="1142" alt="Screen Shot 2021-03-05 at 11 53 17 AM" src="https://user-images.githubusercontent.com/64806657/110166570-6c9b6380-7da9-11eb-8585-3bcc11f3708a.png">

OpenStreetMap (see also https://www.openstreetmap.org/way/424947269#map=14/27.5917/89.8632):
<img width="1148" alt="Screen Shot 2021-03-05 at 11 53 28 AM" src="https://user-images.githubus

[2021-03-05 22:02] matkoniecz commented on #488
Right now I am looking for dataset for rivers/lakes that would allow to make map of Europe for laser cutting on 45cm x 75cm piece of wood.

Simplifying OSM data is obnoxious, so I tried 10m Natural Earth dataset but it seems to rough - but I least wanted to report cases where geometry seemed clearly problematic.

[2021-03-05 23:14] gerasimvol commented on #391
There are no discussions about Crimea. Whole world recognizes it as Ukraine, as it always was. We don’t accept any special settings, admin-0 options or any other mess.

[2021-03-05 23:20] gerasimvol opened #489 "Crimea location bug"
Crimea somehow isn’t part of Ukraine. Please fix it. And we don’t accept any special settings or admin-0 options. It’s not a discussion, it’s a fact.

[2021-03-06 00:33] mizmay commented on #471
Late edition but this issue should be resolved with 4097952dfff9ada2faca3b2849da4cf2d9c0dcb4

[2021-03-06 00:33] #471 closed

[2021-03-06 00:40] mizmay commented on #333
This one Is resolved with 0d5d9b325a3c298edb0133f44f01839f1e58b76e

[2021-03-06 00:40] #333 closed

[2021-03-06 07:08] matkoniecz commented on #489
Sadly, Crimea was successfully invaded and taken over by Russia.

See https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-details/

[2021-03-06 07:09] matkoniecz commented on #401
Sadly, Crimea was successfully invaded and taken over by Russia.

See https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-details/

[2021-03-06 07:10] matkoniecz commented on #489
See also #401 #391 #390

Is there some reason why this issues are kept open?

[2021-03-06 07:16] matkoniecz commented on #486
Should I open https://github.com/nvkelso/natural-earth-vector/tree/master/10m_physical in QGIS, edit it, save it and submit PR?

(I would need to figure out how to get Geoportal.gov.pl aerial imagery WMS/TMS into QGIS)

Or is changing geometries done using other method?

Or maybe it is considered as acceptable and changes would be rejected?

(I somehow missed "edit" part previously)

[2021-03-06 09:54] gerasimvol commented on #489
See also? https://undocs.org/en/A/RES/68/262
If it was taken illegally and not recognised by any civilised country, how it could be displayed on map as Russia? Are you insane?

[2021-03-06 13:49] matkoniecz opened #490 "Jezioro Goczałkowickie has no name in NE dataset"
https://pl.wikipedia.org/wiki/pl:Jezioro%20Gocza%C5%82kowickie?uselang=en

ne_id 1159115973

[2021-03-06 16:03] nvkelso commented on #486
Yes, you can edit the SHP and submit in PR. Agree this lake needs some adjustment. Please limit PR to just these features and maybe the other lake name change so it’s easier to review. Thanks!

[2021-03-06 20:01] matkoniecz commented on #490
I am pretty sure that title change was not intentional.

[2021-03-06 21:07] matkoniecz commented on #490
BTW, looking at data it seems that missing names is common and in 10M I would expect that every feature is named.

Not sure whatever you want more contributors and PRs and whatever it would actually be less work, maybe people would just copy from OSM.

But if that kind of PR would be useful then advertising it at NE site or in readme may be useful.

[2021-03-06 21:56] nvkelso commented on #490
I was confused which thematic layer this issue was about, so prefixed the issue title with that. But I was on phone so may have fat fingered some other part?

[2021-03-06 23:33] mizmay commented on #413
Resolved with #457

[2021-03-06 23:33] #413 closed

[2021-03-06 23:46] mizmay commented on #408
Thanks for the additional context @nvkelso, here's another source that says Phnom Tbeng Meanchey is the capital of the province of Preah Vihear. https://www.tourismcambodia.com/travelguides/provinces/preah-vihear.htm

Since some sources on maps and on the internet say the name of the capital is (town) is also Preah Vihear, let's resolve by adding "Preah Vihear" to NAMEALT.

[2021-03-06 23:50] mizmay commented on #407
@nvkelso notes in #457 that this is only partially resolved by adding the wikidataid - need to set NAME and NAMEASCII

[2021-03-06 23:52] mizmay commented on #380
Resolved with #457

[2021-03-06 23:52] #380 closed

[2021-03-06 23:52] mizmay commented on #374
Resolved with #457

[2021-03-06 23:52] #374 closed

[2021-03-06 23:53] mizmay commented on #368
Resolved with #457

[2021-03-06 23:53] #368 closed

[2021-03-06 23:53] #364 closed

[2021-03-07 00:05] mizmay commented on #454
Suggested resolution: We'll use Puducherry in NAME and NAMEASCII but continue to rely on consensus from Wikidata editors for the localizations.

[2021-03-07 00:10] mizmay commented on #483
@elliotap if you want I can hoover this one up in my next round of name edits, feel free to assign it to me if you do.

[2021-03-07 00:13] mizmay commented on #447
@stepps00 can you edit the link to your CSV? Looks like it didn't come through.

[2021-03-07 00:24] mizmay commented on #428
I've looked at this one previously (before I had the ability to assign myself tasks). Recommendation matches the Wikidata, which is why I didn't correct it in the first round of edits (my initial goal was just to fix `wikidataid` if it was wrong).

More on that research: https://gist.github.com/mizmay/89f6eed0e571e5e324bb7e13005715fc

Full list of issues like this: https://github.com/mizmay/natura

[2021-03-07 00:26] mizmay commented on #398
Happy to pick this one up too @elliotap!

[2021-03-07 00:28] mizmay commented on #366
Same, same https://gist.github.com/mizmay/89f6eed0e571e5e324bb7e13005715fc :)

[2021-03-07 01:28] mizmay commented on #329
This change makes sense to me, but is not backed by the name_en value in Wikidata.

See output of Wikidata check here: https://github.com/mizmay/natural-earth-vector/blob/master/10m_cultural/ne_names_issues_compare_wikidata.csv

Proposal: Assign the old name to NAMEPAR and NAMEALT (since it is still in use), assign the new name to NAME and NAMEASCII. Localizations (including name_en) still governe

[2021-03-07 06:14] nvkelso commented on #407
Fixed via #457.

[2021-03-07 06:15] nvkelso commented on #408
Fixed via #457.

[2021-03-07 06:15] #408 closed

[2021-03-07 06:15] nvkelso commented on #413
Fixed via #457.

[2021-03-07 06:19] nvkelso commented on #407
And later commit ed1af2bee0c5c54a4eacae8592bb2dd70aa1a717 addresses the NAME and NAMEASCII and other properties.

[2021-03-07 06:19] #407 closed

[2021-03-07 06:29] nvkelso commented on #119
Column names capitalization in DBF is not significant. Suggest wrapping the column names in `lower()` or some equivalent approach when you parse them if your lib is having problems.

[2021-03-07 06:29] #119 closed

[2021-03-07 07:11] nvkelso commented on #5
Fixed per 69d587b2d9e8eab4d49e8808e0531e467507f37c and 5924d06c40de95cfcfa377532932082208e81ff6.

[2021-03-07 22:17] mmatviyiv commented on #489
@matkoniecz being agreed with "de facto borders" means accepting such invasions.
The smallest thing which the civilised world can do is to keep claiming everywhere that Crimea is Ukraine.
United Nations have already done that, a link is above.

[2021-03-07 23:17] nvkelso commented on #489
There are a large number of people following each of the issues. Once my PR is merged the issues will be resolved, and everyone will receive a GH notification for each of the GH issues.

[2021-03-08 06:09] nvkelso commented on #477
Fixed via #457 and 69d587b2d9e8eab4d49e8808e0531e467507f37c and 5924d06c40de95cfcfa377532932082208e81ff6.

[2021-03-08 06:09] #477 closed

[2021-03-08 06:37] nvkelso opened #493 "adm0: Add Iran POV"
To go along with Persian Language Support #451

[2021-03-08 07:03] nvkelso commented on #195
Fixed in 82788323e8c10cc5b16f03a2258dcd0ee1f76c06, scheduled for v5 release.

Unfortunately the associated PR grew stale as it wasn't merged right away (my bad, and it's in OpenOffice now too), so I recreated it for the 2 UN codes and the several++ regions you called out, 2x checking with your PR's Excel file.

[2021-03-08 07:45] nvkelso commented on #79
This has been updated to circa 2019 World Bank population values, along with circa 2019 World Bank GDP (millions of US dollars). Where World Bank doesn't track the details that Natural Earth does, either separate research was done or a population proportioned breakout was calculated (lookups and formula's in the housekeeping file).

[2021-03-08 07:47] nvkelso commented on #79
See also https://github.com/nvkelso/natural-earth-vector/issues/481.

[2021-03-08 07:48] nvkelso commented on #282
The root cause of this is eluding me, punting to v5.1 as it's not a breaking change.

[2021-03-08 18:03] elliotap commented on #428
@mizmay Thank you! Chris and I have been focusing on the issues in the 5.1.0 milestone - I think I've looked at about a half dozen populated places issues so far, and was planning to clean them up in QGIS when the time was right per Nathaniel's comment in #483 - if it would be easier to fix them with your process that would be awesome!

[2021-03-08 20:54] MrGawsome commented on #425
Hi Nathaniel,

Thank you so much for your comments, they help a lot! I did some follow-up research and had some questions I wanted to run by you before moving forward with these edits.

1. For Whitefish Lake, I propose using the following Wikidata link after reviewing over 251 possible Wikidata search results: https://www.wikidata.org/wiki/Q22610852. An English wikipedia page doesn’t exist for Whi

[2021-03-08 21:34] elliotap commented on #450
Positional accuracy is off for several layers on the peninsula here compared to OSM + Google, including admin 0, admin 1, roads, railroads, and parks & protected lands

view of 10m:
<img width="1792" alt="Screen Shot 2021-03-08 at 1 32 49 PM" src="https://user-images.githubusercontent.com/64806657/110384746-ee41fa00-8012-11eb-85f0-ef6df215556f.png">
<img width="1792" alt="Screen Shot 2021-03-08 at

[2021-03-08 21:54] nvkelso commented on #450
Oh, that's not great. Changing the coastline around can be quite involved as it also impacts the raster layers, which I was very much hoping to avoid.

Suggest moving the townspot into the urban polygon which at least overlaps with the IRL ground config.

[2021-03-08 22:23] elliotap commented on #338
Jacunda, Brazil - Confirmed

Compare to Google:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 21 33 PM" src="https://user-images.githubusercontent.com/64806657/110389621-a1aded00-8019-11eb-80ac-b4950d17e4e1.png">

OpenStreetMap:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 21 28 PM" src="https://user-images.githubusercontent.com/64806657/110389648-a83c6480-8019-11eb-82b4-4e10ee3634d6.pn

[2021-03-08 22:37] elliotap commented on #450
Proposed edits:
Move point feature to 67.27643458622849, 14.429284888498778
Change latitude to 67.27643458622849
Change longitude to 14.429284888498778

[2021-03-08 22:42] elliotap commented on #338
Peter I Island - Confirmed

Compare to Google:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 23 29 PM" src="https://user-images.githubusercontent.com/64806657/110391268-184bea00-801c-11eb-986d-63b6f87b1e98.png">

OpenStreetMap:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 23 34 PM" src="https://user-images.githubusercontent.com/64806657/110391284-1d109e00-801c-11eb-8ee0-2cdbf4754e14.png

[2021-03-08 23:11] elliotap commented on #338
Dawwah, Oman - Not Confirmed, but location could be improved

Compare to Google:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 42 51 PM" src="https://user-images.githubusercontent.com/64806657/110391690-bb046880-801c-11eb-90e2-835c9c0d8d94.png">

OpenStreetMap:
<img width="1792" alt="Screen Shot 2021-03-08 at 2 42 56 PM" src="https://user-images.githubusercontent.com/64806657/110391713-c22b76

[2021-03-08 23:28] elliotap commented on #439
Proposed Edits:
Expand Mt. -> Mount & Pk. -> Peak in name, namealt, and label values for the following features in ne_10m_geography_regions_elevation_points.shp

name | lat_y | long_x | ne_id
-- | -- | -- | --
Seweweekspoort Pk. | -33.395807 | 21.3657333 | 1159105217
Mt. Ramlo | 13.3924014 | 41.7277938 | 1159105253
Mt. Kenya | -0.150079 | 37.2999374 | 1159105297
Mt. Kilimanjaro | -3.0757382 | 37.3

[2021-03-08 23:30] elliotap commented on #439
Proposed Edits:
Expand Mt. -> Mount in name values for the following features in ne_50m_geography_regions_elevation_points.shp

name | lat_y | long_x | ne_id
-- | -- | -- | --
Mt. Everest | 27.9804752 | 86.8806258 | 1159105715
Mt. Kilimanjaro | -3.0757382 | 37.3532821 | 1159105301
Mt. Whitney | 36.5827091 | -118.29223 | 1159106313
Mt. Kosciuszko | -36.455865 | 148.263194 | 1159106753
Mt. Shasta |

[2021-03-08 23:32] elliotap commented on #439
Proposed Edits:
Expand Mt. -> Mount in name values for the following features in ne_110m_geography_regions_elevation_points.shp

name | lat_y | long_x | ne_id
-- | -- | -- | --
Mt. Everest | 27.9804752 | 86.8806258 | 1159105715
Mt. Kilimanjaro | -3.0757382 | 37.3532821 | 1159105301
Mt. Whitney | 36.5827091 | -118.29223 | 1159106313
Mt. Kosciuszko | -36.455865 | 148.263194 | 1159106753

[2021-03-08 23:50] MrGawsome commented on #341
After some research, I think changing Lop Nur into a historic lake would be ideal here since the lake is dried up and is now a nuclear test site. We can remove ne_id 1159114133 and ne_id 1159114133 from the ne_10m_lakes and ne_50m_lakes shapefiles and add them to the ne_10m_lakes_historic and ne_50m_lakes_historic shapefiles respectively.

Besides the already cited wikipedia link that suggests thi

[2021-03-09 01:33] MrGawsome commented on #342
After some research, it seems like the dam still doesn’t exist. It doesn’t appear to be in any imagery in OSM, and wikipedia pages and the sources listed on them suggest the dam doesn’t exist yet and it is uncertain if it will come to fruition. OSM, Google, and Apple all don’t have the feature as well, further suggesting it doesn’t exist.

My recommendation is to remove ne_id 1159125751 from the n

[2021-03-09 04:12] nvkelso commented on #342
Sounds good, let's remove the feature. Just got to make sure the centerline goes to a `River` **featurecla** with the surrounding properties (name & etc).

[2021-03-09 04:12] nvkelso commented on #342
Also there is an active PR for lakes and rivers so let's get that merged first before you open yours.

[2021-03-09 04:14] nvkelso commented on #439
Both the `ne_50m_geography_regions_elevation_points` and `ne_110m_geography_regions_elevation_points` are derived files... once you edit the `ne_10m_geography_regions_elevation_points` you can run `make derived_physical_labels` and it'll do the work for you.

[2021-03-09 04:19] nvkelso commented on #439
The proposal in https://github.com/nvkelso/natural-earth-vector/issues/439#issuecomment-793166716 works for me.

[2021-03-09 04:23] nvkelso commented on #450
Works for me.

[2021-03-09 04:29] nvkelso commented on #425
1. Agree on using `Q22610852` for **wikidata_id** for new "B" Whitefish Lake. The position matches. Someday there will be useful labels there, no worries in the time being.
2. No action on names – simplest to leave the NULL names for now. Thanks for all the research! Sorry, I didn't realize these were in the North American supplemental rivers – there's a lower bar on those ... lots of NULL names a

[2021-03-09 04:40] nvkelso commented on #341
That's an intriguing proposal. There's already a playa feature there, I'm into this change.

![image](https://user-images.githubusercontent.com/853051/110419489-4813e580-804e-11eb-8ae0-8ab6583e32cc.png)

[2021-03-09 04:41] nvkelso commented on #428
I have no strong opinions, thanks for coordinating!

[2021-03-09 04:43] nvkelso commented on #428
Name change proposal LGTM, except please don't change LS_NAME... that's an artifact used to link with the landscan theme.

[2021-03-09 04:59] nvkelso commented on #329
Only the 10m theme should be updated, the 50m theme is auto generated:

If the alternate name is in NAMEPAR, you shouldn't duplicate it into NAMEALT too. So please don't update any of the NAMEALTS above.

Other proposals LGTM.

[2021-03-09 05:03] nvkelso commented on #398
Only the 10m file needs to be updated as follows (with my modifications):

- **featurecla** to `Admin-1 capital` (from `Populated place`)
- **name** to `Makassar` (from `Ujungpandang`)
- **namealt** to `Kota Makassar|Ujung Pandang`
- **nameascii** to `Makassar` (from `Ujungpandang`)

Please don't change

- **meganame**
- **ls_name**

[2021-03-09 05:06] nvkelso commented on #454
Agree with these changes for **ne_id** = `1159150163`:

- **name** = `Puducherry`
- **nameascii** = `Puducherry`
- **namepar** = `Pondicherry`

[2021-03-09 09:36] Toshakins commented on #195
No worries, thanks for doing God's work!

I am not able to verify shapefiles in provided commit at the moment, do you need any action from my side? If not, feel free to close the issue whenever is comfortable for you.

[2021-03-09 19:20] MrGawsome commented on #426
After doing more research, I suggest to change the name of this lake as requested. In the ne_10m_lakes shapefile, we can change the name of ne_id 1159109029 from Takijuq Lake to Napaktulik Lake and add Wikidata Q1546823 (see https://www.wikidata.org/wiki/Q1546823).  This lake isn’t in ne_50m_lakes, so no change is necessary there. This new name is supported by the below sources, and is the name us

[2021-03-09 20:21] elliotap commented on #482
Verified - road path described here: https://en.wikipedia.org/wiki/Interstate_94_in_North_Dakota

On-the-ground signage observed in Mapillary:
Westbound from Fargo:
<img width="1680" alt="Screen Shot 2021-03-09 at 12 08 25 PM" src="https://user-images.githubusercontent.com/64806657/110532181-60791400-80d1-11eb-9977-89683e5852b9.png">
Eastbound from Bismarck:
<img width="1680" alt="Screen Shot 2021

[2021-03-09 21:11] elliotap commented on #438
Confirmed - renamed in 2016 by US Board on Geographic Names (GNIS: https://geonames.usgs.gov/apex/f?p=GNISPQ:3:::NO::P3_FID:1261770)

Proposed edits:
Change name from Harney Peak to Black Elk Peak
Add name_alt of Harney Peak
Add wikidataid of Q1585737

[2021-03-09 23:23] stepps00 commented on #447
@mizmay - I've re-uploaded the file, let me know if that works for you.

[2021-03-09 23:28] nvkelso commented on #409
Research complete, over @mizmay for PR making...

[2021-03-10 05:17] nvkelso commented on #482
Works for me!

[2021-03-10 05:18] nvkelso commented on #438
Works for me.

[2021-03-10 05:24] nvkelso commented on #426
For **ne_id** = `1159109029`:

- **name** = `Napaktulik`
- **name_alt** = `Takijuq|Takiyuak`
- **wikidataid** = `Q1546823`

Note removing "Lake" from all the proposed names, per Natural Earth convention for lakes and rivers. And supporting both the earlier name alts. It's not a major feature, so skip setting a parenthetical name.

Yes, let's hold editing this until the active PR on lakes is merged

[2021-03-10 05:25] nvkelso commented on #195
Thanks! No further action required from you. Once the associated PR is merged I'll close this issue.

[2021-03-10 18:13] elliotap commented on #382
Confirmed

Compare to Apple:
<img width="1398" alt="Screen Shot 2021-03-10 at 10 01 31 AM" src="https://user-images.githubusercontent.com/64806657/110675379-aabccc80-8187-11eb-810e-9d13275af128.png">

Google:
<img width="1680" alt="Screen Shot 2021-03-10 at 10 00 49 AM" src="https://user-images.githubusercontent.com/64806657/110675394-ae505380-8187-11eb-8426-d295b82e3a68.png">

2008 Shaded Relief

[2021-03-10 18:44] anxolerd commented on #489
I would say it is not just "accepting" such invasions, but rather supporting them. Next times invaders may consider this "acceptance" as a sign of support.

[2021-03-10 20:37] elliotap commented on #376
Verified

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-10 at 12 35 27 PM" src="https://user-images.githubusercontent.com/64806657/110694162-22e1bd00-819d-11eb-9400-625499375f26.png">
Apple:
<img width="1398" alt="Screen Shot 2021-03-10 at 12 34 22 PM" src="https://user-images.githubusercontent.com/64806657/110694173-26754400-819d-11eb-86b9-418fd141360f.png">
OpenStreetMap:
<img wi

[2021-03-10 21:27] nvkelso commented on #376
LGTM

[2021-03-10 21:32] elliotap commented on #115
Verified - https://en.wikipedia.org/wiki/Seattle%E2%80%93Tacoma_International_Airport

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-10 at 1 30 01 PM" src="https://user-images.githubusercontent.com/64806657/110700468-d601e480-81a4-11eb-8a25-581aca2d9084.png">
Apple:
<img width="1398" alt="Screen Shot 2021-03-10 at 1 30 23 PM" src="https://user-images.githubusercontent.com/64806657/

[2021-03-10 21:55] elliotap commented on #386
Verified - both airports handle in range of 50-100m passengers annually
https://en.wikipedia.org/wiki/Suvarnabhumi_Airport
https://en.wikipedia.org/wiki/Haneda_Airport

Proposed Changes: add the following two features - copied scalerank, featurecla, type from ATL because these airports are also of global significance

lat/lng | 35.55009719017344,   139.78639709407628 | 13.692563388870756,   100.75

[2021-03-10 23:01] MrGawsome commented on #351
After conducting more research and discussing with Elliot, Elliot and I think it is best if we don't edit Lake Urmia anymore due to recent lake growth. It seems like the lake has recently increased its surface area, and NE’s lake geometry seems close enough to recent imagery. Also, OSM, Google, and Apple have geometries similar to NE, suggesting that NE's geometry may be close enough to imagery.

[2021-03-11 05:19] nvkelso commented on #351
Interesting. No action is always the easiest action. Closing (until the rain stops, at least).

[2021-03-11 05:19] #351 closed

[2021-03-11 05:21] nvkelso commented on #115
Works for me.

Let's look at PR a bit though... I need to recall how the airports are made... are they a one time or dynamic selection of Mile High Club features?

[2021-03-11 05:24] nvkelso commented on #386
The wikidata is score column should be removed all together.

The two airport codes are either 3 characters or 4 characters. I believe the 4 char one is the icao code, see the Wikipedia articles.

[2021-03-11 19:27] elliotap commented on #463
Kanpur Airport - Verified

Compare to Google:
<img width="1142" alt="Screen Shot 2021-03-11 at 10 56 47 AM" src="https://user-images.githubusercontent.com/64806657/110839680-b0ceae00-8258-11eb-93f6-573af8c6ca81.png">
OpenStreetMap:
<img width="1145" alt="Screen Shot 2021-03-11 at 10 56 32 AM" src="https://user-images.githubusercontent.com/64806657/110841841-42d7b600-825b-11eb-9b03-634d39147568.png

[2021-03-11 19:57] elliotap commented on #414
Verified - see: https://quickstats.censusdata.abs.gov.au/census_services/getproduct/census/2016/quickstat/UCL102004?opendocument

Not sure what attributes to change here: how have the POP_ and MAX_POP values been determined in the past?

[2021-03-11 20:23] elliotap commented on #412
Validity unclear - wiki population and http://www.demographia.com/db-worldua.pdf indicate populations above 600k, while other publications indicate the population may be much smaller (see Financial Times: https://www.ft.com/content/fa6bd0b0-1d87-11ea-9186-7348c2f183af)

Adding further uncertainty to an accurate population count is the method of counting residents:
"Alongside this rhetorical focus

[2021-03-11 21:08] elliotap commented on #359
Verified - (https://www.gks.ru/free_doc/new_site/perepis2010/croc/Documents/Vol1/pub-01-11.pdf, p.500)
<img width="644" alt="Screen Shot 2021-03-11 at 1 04 40 PM" src="https://user-images.githubusercontent.com/64806657/110854886-7837d000-826a-11eb-90c4-2de7f5573074.png">

Proposed edits: reduce population values (which ones?)

[2021-03-11 21:59] elliotap commented on #278
Verified

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-11 at 1 58 05 PM" src="https://user-images.githubusercontent.com/64806657/110860668-eaf87980-8271-11eb-9f3b-90c1eaced21d.png">

Apple:
<img width="1398" alt="Screen Shot 2021-03-11 at 1 58 17 PM" src="https://user-images.githubusercontent.com/64806657/110860678-edf36a00-8271-11eb-96f5-c0d8fa528082.png">

OpenStreetMap:
<img wi

[2021-03-11 22:45] elliotap commented on #234
Verified

Compare to OpenStreetMap:
<img width="1680" alt="Screen Shot 2021-03-11 at 2 05 23 PM" src="https://user-images.githubusercontent.com/64806657/110861361-dff21900-8272-11eb-9abf-88b2c2c0808a.png">

Proposed edits:
Admin-1 Polygons:
-   Create new geometries splitting Andhra Pradesh into 2 states using geo from https://spelunker.whosonfirst.org/id/1108805979/
-   add attributes for Telanga

[2021-03-11 23:40] justinelliotmeyers commented on #234
@nvkelso @stepps00
https://data.telangana.gov.in/story/telangana-district-mandal-and-revenue-shape-files

[2021-03-12 01:17] nvkelso opened #494 "Document common populated places properties"
When working with populated places theme I ensured each NEW record had the minimum properties:

- `NE_ID` - from [Brooklyn Integers](https://www.brooklynintegers.com/create/)
- `NAME` - based on issue decision
- `NAMEASCII` - without any diacritical marks
- `NAMEPAR` - only when single other name in common usage
- `NAMEALT` - when appropriate, a list
- `SCALERANK` - look around at similarly sized

[2021-03-12 01:18] nvkelso commented on #414
I documented that in a comment buried in @mizmay's PR, let me make it more findable in https://github.com/nvkelso/natural-earth-vector/issues/494.

[2021-03-12 02:18] MrGawsome commented on #337
After much research, I propose to shrink the Aral Sea following recent aerial imagery and then break it up into 5 parts with new names as shown in the below image. I would edit Aral Sea on the 10m, 50m, and 110m shapefiles, and I’d have less detail on the 50m and 110m files.

![Aral_Sea](https://user-images.githubusercontent.com/78829897/110881791-c9a98480-8295-11eb-96ce-6566f0ae7195.png)

(A) Thi

[2021-03-12 18:07] MrGawsome commented on #375
Can confirm that the Huang river doesn't extend to the 10m coastline. Following Bing Aerial imagery, I suggest that the river be snapped to the coastline at 37.77762664, 119.23443574 on the ne_10m_rivers_lake_centerlines and ne_10m_coastline shapefiles.

Also, I checked the 50m and 110m river and coastline layers, and no issues were found there, so only the 10m file should be edited.

Lastly, I no

[2021-03-12 19:57] MrGawsome commented on #41
The Salish Sea is present in the ne_10m_geography_marine_polys shapefile already (see image below) and the polygon seems to have good attributes and it seems to cover the sea's region well enough according to the below sources. Does this sea need to be added in another shapefile? It is missing in the 50m and 110m marine polygon files, but I assume this is because the sea is too small to be include

[2021-03-13 01:08] MrGawsome commented on #340
After research, this seems to be part of a larger problem of some rivers that are part of the Unified Deep Water System of European Russia having higher min zoom numbers. I suggest that not only should Sheksna River decrease its min_zoom to 4.0, but other rivers of this Russian river system should decrease their min_zoom to 4.0 as well. I also suggest that if possible, maybe the rivers that are pa

[2021-03-13 01:13] MrGawsome commented on #14
This is a similar issue to #340

After research, this seems to be part of a larger problem of some rivers that are part of the Unified Deep Water System of European Russia having higher min zoom numbers. I suggest that not only should Kama River decrease its min_zoom to 4.0, but other rivers of this Russian river system should decrease their min_zoom to 4.0 as well. I also suggest that if possible

[2021-03-13 01:55] MrGawsome commented on #308
This is an older post so we'll have to copy or replicate these fixes onto the current data. ne_id 1159114515 is still missing these lake centerlines, for they aren't present on both the ne_10m_rivers_lake_centerlines and ne_10m_rivers_north_america shapefiles. We can create these lake centerlines on the ne_10m_rivers_lake_centerlines shapefile once the hydro PRs are merged.

[2021-03-13 02:08] MrGawsome commented on #472
I can confirm that the duplicate Lake Onega is in fact supposed to be the Great Salt Lake. We should update ne_id 1159113251 to be the Great Salt Lake using wikidata Q178741 (https://www.wikidata.org/wiki/Q178741). See below for an image of this duplicate (the lake is zoomed out for context):

![image](https://user-images.githubusercontent.com/78829897/111015501-eb6e3e80-835d-11eb-9d64-defeaa4f425

[2021-03-13 06:56] elliotap commented on #340
Can you diagram the extent of the unified deep water system? I’m typing from my phone right now so limited capability but would be interested to see interactions with the seas (esp. Sea of Azov/Black Sea)

[2021-03-14 17:31] nvkelso commented on #412
I am okay updating the population of **Korla** to the DB-WorldUA value (in the 600 thousands)... but we'd need to update other cities in Xinjiang at the same time so the regional balance is maintained.

The prison complexes are tricky... the right thing to do count them towards the population of the populated area they are part of... but the problem is they origin city of the prisoners would need

[2021-03-14 17:41] nvkelso commented on #472
Uff how did that happen!? I agree with the proposed change:

For feature **ne_id** = `1159113251` in the 110m lakes theme:

**name** = `Great Salt Lake`
**name_abb** = `Great Salt L.`
**label** = `Great Salt Lake`
**wikidata** = `Q178741`

All the name localizations would update with the general "update wikidata names script" before cutting the release – those don't need to be updated in the PR as

[2021-03-14 17:43] nvkelso commented on #308
Agree with proposed changes, and thanks @pinakographos for attaching some linework!

The work just needs to be done in one of the themes – just basic theme and not also the North American supplemental.

[2021-03-14 18:03] nvkelso commented on #340
Seems like a few of these are `Canal`, so let's mark their Feature Class as such when appropriate.

From [morflot.ru](http://eng.morflot.ru/activities/vvt.html):

![image](https://user-images.githubusercontent.com/853051/111078715-21bdd200-84b4-11eb-8b5d-17877856587c.png)

From [unece.org](https://unece.org/fileadmin/DAM/trans/doc/2018/sc3wp3/5.8_NONIUS_Engineering.pdf):

![image](https://user-ima

[2021-03-15 22:34] nvkelso commented on #41
Let's change the **min_label** to `6.0` for the existing Salish Sea feature in the 10m theme and call it a day (no other changes).

[2021-03-15 23:04] nvkelso commented on #340
I agree that a **min_zoom** of `4.7` be applied all/most of big rivers in the maps above (excluding Wikipedia which has too many rivers) should be included in the 50m rivers theme, including the canals. Existing min_zoom range from 4.7 to 5.0 to 6.0 and are spread over the 10m basic and Europe supplemental and 50m theme files (don't change min_zoom < 4.7). So a few features will need to be moved a

[2021-03-15 23:21] nvkelso commented on #14
I agree Kama river should be added to the 50m theme, connecting Samara to Perm upstream from Volgograd. This means it's min_zoom also needs to change on the 10m theme to 4.0 or 4.7 per the other issue.

[2021-03-15 23:22] nvkelso commented on #375
Sounds good, let's do it!

[2021-03-15 23:23] nvkelso commented on #234
Sounds good, let's add both the new admin-1 and it's functional capital city.

[2021-03-16 05:21] nvkelso commented on #337
Thank you for the extensive research. I agree with the changing the shapes as you propose in the 10m theme. You will also need to make changes to the 50m and 110m themes.

Summary of your changes proposed above, which I agree with:

- A: **name** = `Aralkum Desert` as a **playa** (not a _lake_ anymore). **name_alt** = `South Aral Sea`. **wikidataid** = `Q276776`
- B: **name** = `South Aral Sea` as

[2021-03-16 05:25] nvkelso commented on #278
For admin-1 with **adm1_code** = `MYS-1149`, update the **name** to `Terengganu`, put the old name in **name_alt** as `Trengganu`.

This is a property fix in the admin-1 details "housekeeping" file in the 10m cultural directory. Once updated there, the Makefile target for mapshaper rebuilding needs to be run and will detect the change. This feature is only in the 10m theme so:

[2021-03-16 05:42] nvkelso commented on #359
For **ne_id** = `1159148085`, I agree the population of `Kandalaksha` (Murmansk, Russia) possibly should be adjusted down.

From @elliotap's research it seems like it should either be `38,126` or `35,654`. Do we know the English translation on those values and the `2,482` which accounts for the difference?

The too large value comes from older vintage Landscan (see screenshot below) which is likel

[2021-03-16 19:14] MrGawsome commented on #236
For Neuschwabenland/New Swabia, I propose using Neuschwabenland as the new name, since more official sources use this name. New Swabia seems to be the English translated version of the name, but it isn’t used on some English maps, so I propose using it as an alternate name if possible. We can make these changes on the ne_10m_geography_regions_polys and ne_50m_geography_regions_polys shapefiles for

[2021-03-16 20:16] elliotap commented on #424
Verified: see https://www.stat.go.jp/english/info/meetings/cambodia/e11f_dc2.html for Cambodian Economic Census w/ maps.
<img width="769" alt="Screen Shot 2021-03-16 at 1 15 45 PM" src="https://user-images.githubusercontent.com/64806657/111373949-c3325880-8659-11eb-94be-5a44eb2db42d.png">

 Compare to OSM:
<img width="1680" alt="Screen Shot 2021-03-16 at 11 53 04 AM" src="https://user-images.githu

[2021-03-16 22:52] nvkelso opened #495 "Add missing Slovenia regions"
_Originally posted by @kernc in https://github.com/nvkelso/natural-earth-vector/issues/226#issuecomment-334936246_

Additionally, these municipalities are missing:
[code]

[2021-03-16 22:52] nvkelso commented on #226
Splitting the geometry work for the new regions off into https://github.com/nvkelso/natural-earth-vector/issues/495.

[2021-03-17 00:09] MrGawsome commented on #422
I can confirm that Lake Tanganyiki is missing on both the ne_50m_lakes and ne_50m_admin_0_countries shapefiles. ne_id 1159113185 needs to be added to the ne_50m_lakes shapefile with less detail than the 10m version and more detail than the 110m version. The lake's surrounding countries need to be edited to account for the lake shape on the ne_50m_admin_0_countries shapefile as well. Specifically,

[2021-03-17 00:23] MrGawsome commented on #422
I also confirmed that the lake is present on the 1:10 and 1:110 shapefiles for both the ne_lakes and admin_0_countries shapefiles. Only the 1:50m has the missing data.

[2021-03-17 00:41] MrGawsome commented on #300
Lake Tanganyika will be addressed with issue #422.

I can confirm that Lake Balkash is missing on both the ne_50m_lakes and ne_50m_admin_0_countries shapefiles. ne_id 1159113111 needs to be added to the ne_50m_lakes shapefile with less detail than the 10m version and more detail than the 110m version. The lake's surrounding country needs to be edited to account for the lake shape on the ne_50m_adm

[2021-03-17 04:22] nvkelso commented on #300
For **Lake Balkash** the **min_zoom** = `1.0` so it _should_ be visible also in the 50m and 110m themes, and I agree it's missing from the 50m theme and should be added (with the same attributes as the 10m theme).

10m
![image](https://user-images.githubusercontent.com/853051/111414165-bbe06e80-869c-11eb-9129-3765ce1c1239.png)

110m
![image](https://user-images.githubusercontent.com/853051/1114142

[2021-03-17 04:23] nvkelso commented on #300
Once this lake (and the other for Tanganyika) is added to the 50m lakes theme, there is a Makefile target to generate the ne_50m_admin_0_countries_lakes theme by erasing the big lakes from the basic 50m countries file automatically:

https://github.com/nvkelso/natural-earth-vector/blob/master/Makefile#L503-L514

[2021-03-17 04:24] nvkelso commented on #422
I agree with this proposed change.

Once this lake is added to the 50m lakes theme, there is a Makefile target to generate the ne_50m_admin_0_countries_lakes theme by erasing the big lakes from the basic 50m countries file automatically:

https://github.com/nvkelso/natural-earth-vector/blob/master/Makefile#L503-L514

[2021-03-17 04:47] nvkelso commented on #422
Hmm, history shows these lakes (and more) being included prior to v4.

See also from history:

[code]

I've attached a ZIP of that missing content from 19eaa6b2956d762b40530cd4acaa70590e158b4c:

- [ne_50m_lakes_with_missing_features.zip](https://github.com/nvkelso/natural-earth-vector/files/6153784/ne_50m_lakes_with_missing_features.zip)

For the features already present in v5.0-pre (master), we n

[2021-03-17 04:48] nvkelso commented on #300
I dug deeper on this one and these features can be restored from history:

- https://github.com/nvkelso/natural-earth-vector/issues/422#issuecomment-800790935

[2021-03-17 04:54] nvkelso commented on #424
I agree with this change.

Please also propose the Wikidata IDs here for the new province Tboung Khmum and confirm the remaining province part's wikidata ID for Kampong Cham. You'll also need to update properties like ISO admin-1 codes.

Thanks for calling out the river boundary and the needed admin-1 capital, that's helpful to QA :)

NOTE: The map image in the issue description highlights a unrel

[2021-03-17 05:11] nvkelso commented on #236
I see **ne_id** = `1159104649` with **name** = `New Schawbenland` in Antarctica. Are we talking about the same place? If so the **wikidataid** (which is missing now) should be `Q252609` and we'd pick up name localizations.

For the default **name** I'd use `New Swabia` as all the other names in that area are already using English so it's more consistent. Since the common local name is `Neuschwaben

[2021-03-17 05:25] nvkelso commented on #236
For **ne_id** = `1159113451` with **name** = `Pskoyskoye Ozero` in the 10m and 50m themes I agree with @MrGawsome's proposal. The lake is mostly in Russia so w can use the English translation of Russian as the default (and as done in earlier versions of NE but with the funky name), but let's also set **name_alt** to both country's romanized values.

- **name** = `Lake Pskov`
- **name_abbr** = `L.

[2021-03-17 05:34] nvkelso commented on #382
Sounds good to me!

Fun photos, thanks for sharing :)

[2021-03-17 05:41] nvkelso commented on #486
As @matkoniecz points out in the PR https://github.com/nvkelso/natural-earth-vector/pull/491 - it seems that supplemental lakes dataset at least in Poland and all of Europe are generally moved toward North by some vector (seems about 800m).

![screen04](https://user-images.githubusercontent.com/899988/110325214-58f53480-8017-11eb-9e19-a07a91720fbe.png)

(above) Łebsko Lake as a random example

Gen

[2021-03-17 06:12] nvkelso commented on #360
Fixed via #485.

[2021-03-17 06:12] #360 closed

[2021-03-17 06:13] nvkelso commented on #357
Fixed via #485.

[2021-03-17 06:13] #357 closed

[2021-03-17 07:14] ImreSamu commented on #422
@nvkelso :
my understanding :
I need to generate a wikidata_id proposals  for the missing Lakes  -->  `ne_50m_lakes_with_missing_features.zip` ( 405 lakes )
   * please create a "new issue"   about this ( for me  )
   * please add/generate a new "ne_id" value.  (  lot of missing names)
   * probably in a next few weeks .. I can create a first result   ( ~ the first iterations  )

[2021-03-17 10:52] VictorHartman opened #496 "Sidama Region in Ethiopia is missing"
Sidama became a regional state in June 2020 when it separated from the southern regions after a referendum. As of now it is still part of the southern regions in the data.

context:
https://en.wikipedia.org/wiki/Regions_of_Ethiopia#Proposed_regions
https://www.thereporterethiopia.com/article/sidama-embarks-statehood

[2021-03-17 17:08] MrGawsome commented on #375
Nearby river issues that can be fixed too:
Luan River (ne_id 1159128523) can be extended to 39.42959019, 119.30388143
Nakdon River (ne_id 1159127153) can be extended to 35.13441759, 128.95975794

I noticed various other rivers are closer to their coastlines but still slightly don’t align to them, such as Tone River in Japan (ne_id 1159126711). I assume these don’t need to be fixed because they loo

[2021-03-17 18:17] MrGawsome commented on #319
Although naming the different areas of the Mediterranean Sea and Ross Sea makes sense, after some discussion, I propose merging the different parts of the Mediterranean Sea (ne_id 1159115321 and 1159116285) and Ross Sea (ne_id 1159115615 and 1159115549) together and still keep the names “Mediterranean Sea” and “Ross Sea.” Some mappers use these NE marine polygons for labels, so using the names “Ea

[2021-03-17 18:36] elliotap commented on #363
Confirmed - see romanization in https://en.wikipedia.org/wiki/Moscow_Oblast

[2021-03-17 19:43] nvkelso commented on #375
You're zoom (scale) is 1:26k but Natural Earth is only good until 1:1M scale (nominally 1:10M but over zooms). So if there is an obvious gap at 1:1M scale then eligible for a fix. But this type of precision is not necessary to fix or considered an error.

[2021-03-17 20:54] elliotap commented on #363
Confirmed - see romanization in https://en.wikipedia.org/wiki/Moscow_Oblast

Compare to Apple:
<img width="1398" alt="Screen Shot 2021-03-17 at 11 37 25 AM" src="https://user-images.githubusercontent.com/64806657/111520372-44025a80-8715-11eb-9ac9-aae78d5350d2.png">

Google:
<img width="1680" alt="Screen Shot 2021-03-17 at 11 38 54 AM" src="https://user-images.githubusercontent.com/64806657/1115205

[2021-03-17 23:00] elliotap commented on #392
Validated - see https://geodata.lib.berkeley.edu/catalog/stanford-cg319ms2822 (2015)

Compare to OSM with 12 label points observed (https://overpass-turbo.eu/s/158v)
<img width="1680" alt="Screen Shot 2021-03-17 at 3 54 02 PM" src="https://user-images.githubusercontent.com/64806657/111549211-0a434b00-8739-11eb-9ff0-5acf9e681bc0.png">

Proposed edit - overhaul all admin-1s, table with proposed valu

[2021-03-18 00:15] SpockFan02 commented on #346
Would [this](https://www.bcn.cl/siit/mapas_vectoriales) be a suitable data source? The `Division regional: polígonos de las regiones de Chile` download has a shapefile with the current regions, and at the bottom of the page it says:

Translation: Conditions of use: The vector maps are given for use by virtue of the principle of public transparency. Persons or institutions may freely use this infor

[2021-03-18 14:00] hugolpz commented on #424
Wikidata Qid | English Wikipedia name | Maps
--- | --- | ---
[Q15623578](https://www.wikidata.org/wiki/Q15623578) | [Tboung_Khmum_Province](https://en.wikipedia.org/wiki/Tboung_Khmum_Province) | ![Cambodia_Tbong_Khmum_locator_map svg](https://user-images.githubusercontent.com/1420189/111637706-fca1ca00-87f9-11eb-97e5-c08932c246f1.png)
[Q142258](https://www.wikidata.org/wiki/Q142258)| [Kampong_Cham

[2021-03-18 18:22] elliotap commented on #260
Verified - https://en.wikipedia.org/wiki/Haida_Gwaii

Compare to Apple:
<img width="1398" alt="Screen Shot 2021-03-18 at 9 35 28 AM" src="https://user-images.githubusercontent.com/64806657/111667812-52fb1280-87d2-11eb-9863-e60fcc7889de.png">

OSM:
<img width="1680" alt="Screen Shot 2021-03-18 at 10 12 22 AM" src="https://user-images.githubusercontent.com/64806657/111668015-850c7480-87d2-11eb-9bdf-

[2021-03-18 19:07] elliotap commented on #346
Verified - https://en.wikipedia.org/wiki/%C3%91uble_Region

Compare to Apple (not yet updated):
<img width="1398" alt="Screen Shot 2021-03-18 at 11 55 14 AM" src="https://user-images.githubusercontent.com/64806657/111681922-04a14000-87e1-11eb-9f33-b820194f8df5.png">

Google:
<img width="1680" alt="Screen Shot 2021-03-18 at 11 56 28 AM" src="https://user-images.githubusercontent.com/64806657/111681

[2021-03-18 19:43] elliotap commented on #397
Verified - https://en.wikipedia.org/wiki/Ryukyu_Islands

compare to OSM:
<img width="1680" alt="Screen Shot 2021-03-18 at 12 39 10 PM" src="https://user-images.githubusercontent.com/64806657/111686990-ffdf8a80-87e6-11eb-8b8f-3479af75b6a8.png">

Proposed edits:
For feature with ne_id=1159103819 in ne_10m_geography_regions_polys:
change name from RYÜKYÜ ISANDS to Ryükyü Islands
change label from RYÜ

[2021-03-18 21:48] elliotap commented on #395
Verified - see https://legislative.gov.in/sites/default/files/A2006-52.pdf

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-18 at 2 44 50 PM" src="https://user-images.githubusercontent.com/64806657/111701861-aa13de00-87f8-11eb-9f0f-47bda52dc7ea.png">

Apple:
<img width="1398" alt="Screen Shot 2021-03-18 at 2 46 21 PM" src="https://user-images.githubusercontent.com/64806657/111701896-

[2021-03-18 22:34] elliotap commented on #394
Verified -  https://www.indiacode.nic.in/bitstream/123456789/2108/1/A2011-15.pdf

Compare to Apple:
<img width="1398" alt="Screen Shot 2021-03-18 at 3 32 14 PM" src="https://user-images.githubusercontent.com/64806657/111706274-3cb77b80-87ff-11eb-9ca7-8631874e7bec.png">

Google:
<img width="1680" alt="Screen Shot 2021-03-18 at 3 32 56 PM" src="https://user-images.githubusercontent.com/64806657/1117

[2021-03-18 22:50] elliotap commented on #455
Verified

For Genhe, compare to Apple:
<img width="1398" alt="Screen Shot 2021-03-18 at 3 42 41 PM" src="https://user-images.githubusercontent.com/64806657/111707217-e3504c00-8800-11eb-893e-1a65afec2544.png">
Google:
<img width="1680" alt="Screen Shot 2021-03-18 at 3 45 21 PM" src="https://user-images.githubusercontent.com/64806657/111707278-01b64780-8801-11eb-979d-e363ad40e990.png">

OSM:
<img wi

[2021-03-18 22:51] elliotap commented on #455
@mizmay adding you on this for your script

[2021-03-19 05:01] nvkelso commented on #455
Works for me, thanks!

[2021-03-19 05:02] nvkelso commented on #395
Works for me, thanks!

[2021-03-19 05:03] nvkelso commented on #395
This will be a change to the housekeeping admin-1-details DBF, then a mapshaper Make command to regenerate the labeled admin-1 polygons.

[2021-03-19 05:04] nvkelso commented on #394
Sounds good to me, thanks!

[2021-03-19 05:21] nvkelso commented on #397
Adding the missing `L` sounds good to me, as well as the **namealt**. But let's keep the CASING the same to match other features. Maybe they should all be Title Case... but they were optimized for labeling on maps so let's keep the consistency for now.

For feature with **ne_id**=`1159103819` in _ne_10m_geography_regions_polys_ theme:

- **name** to `RYÜKYÜ ISLANDS` (from `RYÜKYÜ ISANDS`)
- **labe

[2021-03-19 05:24] nvkelso commented on #346
Agree with the change!

Yes, you need to manually update the Populated Places theme attribute as you propose.

In the distant past they were based on a spatial join... but there have been spot edits since to reflect real world 1:10,000 accuracy instead of Natural Earth's geometry accuracy of 1:10,000,000.

[2021-03-19 05:25] nvkelso commented on #260
Works for me, thanks!

[2021-03-19 05:31] nvkelso commented on #392
Let's talk about this one in our weekly sync on Tuesday.

Generally you squint your eyes while looking at at least 3 sources (which hopefully more or less agree; if they disagree you need to research and form an opinion) and draw new original shapes. There's enough Natural Earth features here between the cultural and physical and raster themes as long as the new shapes are consistent with which to

[2021-03-19 05:37] nvkelso commented on #319
I agree with merging the different parts of the `Mediterranean Sea` (**ne_id** = `1159115321` and `1159116285`) and `Ross Sea` (**ne_id** = `1159115615` and `1159115549`) together and still keep the names “Mediterranean Sea” and “Ross Sea.”

We can skip this step. It's marginally useful for the Mediterranean Sea to encompass the an even larger shape including all the little seas and bays) but intr

[2021-03-19 05:42] nvkelso opened #498 "Add wikidata and name translations to recovered 50m lakes"
In https://github.com/nvkelso/natural-earth-vector/issues/422 we discovered that v4 regressed the number of lakes in the 50m theme.

We can recover those geoms and feature properties from an earlier version, but they then are missing the wikidata IDs and name translations that were otherwise added in v4.

Two options:

1.  Harvest the ne_id, wikidata IDs and localized names off the 10m lakes theme

[2021-03-19 05:43] nvkelso commented on #498
I think option 1 can probably be done in QGIS without too much trouble? What do you think @elliotap and @MrGawsome? Otherwise we'd love your help @ImreSamu (and would provide the missing `ne_id`)!

[2021-03-19 06:04] nvkelso commented on #363
Generally I've followed the rule of thumb that the city gets the generic name, and the surrounding region gets a disambiguation name in Who's On First, but that isn't applied consistently in Natural Earth. For instance **ne_id** = `1159317131` and `1159309705` for `Buenos Aires` in Argentina are counter to that.

For **ne_id** = `1159313163` (for the region excluding / surrounding the capital city

[2021-03-19 06:16] #488 closed

[2021-03-19 06:25] nvkelso commented on #488
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/492.

[2021-03-20 20:13] pinakographos opened #499 "Great Lakes at Different Scale Ranks"
In 50m Lakes file, Lakes Huron and Ontario are scale rank 0. Lakes Michigan, Huron, and Superior are scale rank 1. This is in contrast to the 110m and 10m files, where all 5 lakes are at the same scale rank. I think the latter makes the most sense, as they are almost always either shown together, or not at all.

[2021-03-22 02:50] mrUizz commented on #331
We will work hard to change this point of view peacefully, because Taiwan has been a part of China since ancient times. This is a point that people who oppose war should recognize.

[2021-03-22 03:03] mrUizz commented on #331
As a map maker, for the controversial areas, I think you should understand the history between them instead of relying on big data analysis. We are not robots.

[2021-03-22 22:21] elliotap commented on #226
Verified most of the proposed changes and largely agree. Wikipedia indicates Slovenian convention for "Novo mesto" and "Sveti Andraž v Slovenskih goricah" is to have last word in lower case only. Two features could not be verified - "Poljcane" does not appear in the data, but is a municipality, so should be added in the geometry work. "Ravne na Koroškem" appears to be the correct name - "Ravne" is

[2021-03-22 22:23] elliotap commented on #352
@justinelliotmeyers hi Justin, are you requesting changes to specific boundaries, or increased precision of all boundaries?

[2021-03-22 22:36] kernc commented on #226
By the most recent orthography conventions ([currently in discussion](https://www.fran.si/pravopis8/Poglavje/3/velika_in_mala_zacetnica#s-3-2-2-2-2), due mid April), _Novo **M**esto_ is also ok. :ok_hand:

[2021-03-22 23:12] elliotap commented on #160
Verified

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-22 at 3 31 24 PM" src="https://user-images.githubusercontent.com/64806657/112068371-ffb4f700-8b26-11eb-831b-7edc05166516.png">
OSM:
<img width="1680" alt="Screen Shot 2021-03-22 at 3 54 53 PM" src="https://user-images.githubusercontent.com/64806657/112068382-02afe780-8b27-11eb-8142-fbc49277d5a0.png">

Current geometry for Govĭ

[2021-03-22 23:54] elliotap commented on #498
option 1 sounds feasible, what do you think @MrGawsome?

[2021-03-22 23:58] MrGawsome commented on #498
Option 1 sounds good to me as well

[2021-03-23 03:34] nvkelso commented on #498
Cool, let's try option 1 soonish so if it doesn't work out @ImreSamu still has lead time.

[2021-03-23 04:24] nvkelso commented on #160
1. **To rebuild an extended **Ullanbatar** as a multi-part feature:**

In the _ne_10m_admin_1_label_points_ theme, select the single `adm1_code` = `MNG-3330` feature and rename it to `MNG-3331`.

For good measure also rename that feature's **diss_me** = `3331` and set the **name** = `Ulaanbaatar`. (But the name in the output comes from the ne_10m_admin_1_label_points_details.dbf file instead.)

Wh

[2021-03-23 04:43] nvkelso commented on #226
**For the name changes...**

For `Poljčane`, you say "no edits required" but that's confusing? I actually see it listed in the "name changed" and "missing features" section in the issue description, maybe that's where the confusion arrises? @kernc can you clarify?

For `Ravne` I see a Wikipedia [article](https://en.wikipedia.org/wiki/Municipality_of_Ravne_na_Koro%C5%A1kem) that confirms the locati

[2021-03-23 13:05] kernc commented on #226
The official municipality name is Ravne na Koroškem. If anything, Ravne should be the alt name.

These two don't look intersected? :confused:
* https://en.wikipedia.org/wiki/Municipality_of_Polj%C4%8Dane
* https://en.wikipedia.org/wiki/Municipality_of_Ko%C4%8Devje

My original suggestions are tab-separated [here](https://github.com/nvkelso/natural-earth-vector/issues/226#issuecomment-334936246). T

[2021-03-23 17:08] elliotap commented on #226
Apologies, that column heading is unclear, should be "modify existing data?" I believe `Poljčane` should be addressed in #495 as a new feature.

[2021-03-23 18:57] ImreSamu commented on #498
I have created a preliminary test match - based on the last week wikidata dump.
* all 405 records. ( without filter ,  known bad match included )
* ~65% looks OK for me.  ( +lot of type1/2 errors expected )
* -->  [results-google-sheets](https://docs.google.com/spreadsheets/d/1TtHLazrO2VxjfaI0-DSP5c-AviRgtCAwe04JYGhGNEY/edit?usp=sharing)

columns :
- ogc_fid ( from the shp file )
- ne_id ( tempora

[2021-03-23 20:49] elliotap commented on #393
Ladakh - Verified, see https://ladakh.nic.in/

Compare to Google:
<img width="1680" alt="Screen Shot 2021-03-23 at 12 39 55 PM" src="https://user-images.githubusercontent.com/64806657/112216020-47e32080-8bde-11eb-84d5-d01a21faba27.png">

OSM:
<img width="1680" alt="Screen Shot 2021-03-23 at 12 39 29 PM" src="https://user-images.githubusercontent.com/64806657/112216042-4ca7d480-8bde-11eb-9107-2c0d7

[2021-03-23 21:47] MrGawsome opened #500 "Unified Deep Water System of European Russia Fixes for 10m and 50m"
The Unified Deep Water System of European Russia is a network of rivers, lakes, and canals that connect 4 large seas of Europe and Asia — the Black Sea, Caspian Sea, White Sea, and Baltic Sea — with various cities, including Moscow. Parts of this water system are missing, while other parts have inconsistent zoom levels or are located in the Europe supplemental rivers shapefile rather than the main

[2021-03-23 22:29] nvkelso commented on #396
Flagging this for @elliotap so India updates are coherent across entire country.

[2021-03-23 22:29] nvkelso commented on #441
This is a dup of https://github.com/nvkelso/natural-earth-vector/issues/396.

[2021-03-23 22:29] #441 closed

[2021-03-23 22:30] nvkelso commented on #396
/cc @vishv-jeet.

[2021-03-23 22:33] nvkelso commented on #414
**POP_MAX**  = `540,796`
**POP_MIN**  = `322,278`

[2021-03-23 22:36] nvkelso commented on #412
@elliotap Please audit other nearby cities and make recommendations on their population changes. Then reassign to @mizmay once there's a clear path forward.

[2021-03-23 22:37] nvkelso commented on #366
**name** = `Akureyri` (from `Akureyi`)
**nameascii** = `Akureyri` (from `Akureyi`)

[2021-03-23 22:39] nvkelso commented on #359
I propose, with @elliotap to confirm, then move to @mizmay :

**pop_max** = `38126`
**pop_min** = `35654`

[2021-03-23 22:40] nvkelso commented on #338
@nvkelso to review and Dawwah is MIA / needs research.

[2021-03-23 23:27] MrGawsome commented on #500
I recommend to add the NE segments from the ne_10m_rivers_europe shapefile to the ne_50m_rivers_lake_centerlines shapefile as well. We can also have all the fixes and zoom level changes for the 50m file as illustrated above.

[2021-03-24 06:34] nvkelso commented on #445
The S3 bucket has been setup and initial data transfer of v4 released files has kicked off.

[2021-03-24 06:39] nvkelso commented on #500
I agree with the above, except for this one detail:

It might be true that the natural headwaters extends as shown, but as a minor stream versus the canal. If that's the case than we can modify the min_zoom of the portion you proposed to remove to be a later (bigger) value). You'd also need to modify the 50m theme since it often continues to the headwaters.

[2021-03-24 20:17] grijohn opened #501 "South Sudan ISO Code"
I make a lot of world maps and have noticed that the  3 character code used by Natural Earth for South Sudan (SDS) is not consistent with the three character ISO code SSD. It is a nuisance having to make the changes and some new users may not notice the problem.  Otherwise I think your data is great.

[2021-03-24 23:59] Maxszik commented on #500
I'm excited and enthusiastic about seeing these improvements. I've been making some small proposals earlier about these things. May I just add my comments?

1  _NE is missing a critical canal that connects the Volga River with the Don River, which in turn connects the Black Sea with the Caspian Sea and beyond. I propose we call this water segment the Volga-Don Canal_ Totally correct and very much

[2021-03-25 15:24] justinelliotmeyers commented on #352
@elliotap from what I recall, the NE data isn't accurate for several boundaries. I'd have to go back and dissolve the suggested data and look. If you need me to do that, let me know and I can be more specific.  Thanks

[2021-03-25 18:33] elliotap commented on #352
@justinelliotmeyers thanks, i took a look at the boundaries as compared to the data you linked to and OSM as well. The regions look correct to me as far as number and location, but the geometry on the north island looks like it could be improved somewhat. please do let me know if there is anything else.

<img width="1792" alt="Screen Shot 2021-03-25 at 11 27 15 AM" src="https://user-images.githubu

[2021-03-25 20:09] justinelliotmeyers commented on #352
@elliotap just downloaded again to re-check - yes those are the main areas that would improve from this. Thanks for checking! Justin

[2021-03-25 22:09] elliotap commented on #338
For Dawwah - some complication

Dawwah was confirmed on a few reference maps:

http://legacy.lib.utexas.edu/maps/tpc/txu-pclmaps-oclc-22834566_j-7b.jpg
<img width="1680" alt="Screen Shot 2021-03-25 at 2 51 36 PM" src="https://user-images.githubusercontent.com/64806657/112548588-b14b6680-8d79-11eb-9e39-fcaf26a76051.png">

http://legacy.lib.utexas.edu/maps/onc/txu-pclmaps-oclc-8322829_j_7.jpg
<img w

[2021-03-27 16:02] tomalrussell opened #503 "Ghana Admin 1 regions"
New regions were approved in Ghana in December 2018, currently there are 16 ADM1 regions, Natural Earth Vector v4.1.0 has the old 10 regions.

- SVG on official site, unclear license, may be geo data linked somewhere from here: https://statsghana.gov.gh/
- SVG on Wikipedia: https://commons.wikimedia.org/wiki/File:Ghana,_administrative_divisions_2018_-_de_-_colored.svg
- Geo data on Humanitarian Da

[2021-03-30 00:27] MrGawsome commented on #277
I can confirm that Langkawi is still mistakingly part of the state of Perlis when it should be part of state of Kedah. This issue is on both the ne_10m_admin_1_state_provinces and ne_10m_admin_1_state_provinces_lakes shapefiles and doesn’t seem to be present on other shapefiles (for example, these states aren’t on the 50m shapefiles).

Langkawi should be split from Perlis (ne_id 1159310067) and me

[2021-03-30 23:07] SlowMo24 opened #506 "Over precise coordinates?"
When reading ne_110m_admin_0_countries.shp in python using geopandas the extend is `(-180.0, -90.0, 180.00000000000006, 83.64513000000001)` with the Russian polygon extending over the dateline.

When forcing the precision down to 7 digits (more then enough according to reliable sources: https://xkcd.com/2170/) to fix this, Sudan becomes invalid with a tiny line sticking out in the south.

I'm not

[2021-03-30 23:34] MrGawsome commented on #496
I can confirm that the Sidama region of Ethiopia is official and is missing in the NE dataset. I suggest that we create a new ne_id for Sidama by splitting the region of "Southern Nations, Nationalities and Peoples" (ne_id 1159313853) in the ne_10m_admin_1_state_provinces and ne_10m_admin_1_state_provinces_lakes shapefiles following the image below and assigning new attributes to this new feature.

[2021-03-31 23:19] MrGawsome commented on #347
It looks like Who’s On First has the recent regions of South Africa, including the boundary changes from South Africa’s 16th and 12th amendments. Maybe we can import these boundaries?

Who’s On First South Africa regions: https://spelunker.whosonfirst.org/placetypes/region/?&iso=za
Who’s On First Gauteng region, which had the area of Merafong added in the west, which Who’s On First has: https://sp

[2021-04-01 14:56] mtb-za commented on #347
Just to add that OpenStreetMap seems to have the correct boundaries, although I am not sure of the source used for those. Possibly the municipal demarcation board's data can be used, although it is for Admin 3 and 4, rather than Admin 1. They can probably be aggregated though?

https://dataportal-mdb-sa.opendata.arcgis.com/search?tags=2018 has the most recent district-level (admin 3) boundaries, i

[2021-04-02 18:55] elliotap commented on #495
Verified all new Municipalities

Attributes for new features: https://docs.google.com/spreadsheets/d/1nclDTbQXb0q_E1iKGSjRokCvbLLAhxCaJQogE191hl0/edit?usp=sharing

Location of features to be added labeled with ISO-3166-2 (shapefile from https://gis.stat.si/#lang=en)
<img width="1792" alt="Screen Shot 2021-04-02 at 11 51 00 AM" src="https://user-images.githubusercontent.com/64806657/113445024-e3784

[2021-04-02 19:14] elliotap commented on #359
verified - translation at https://translate.google.com/?sl=auto&tl=en&text=%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B5%20%D0%BF%D0%BE%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%9A%D0%B0%D0%BD%D0%B4%D0%B0%D0%BB%D0%B0%D0%BA%D1%88%D0%B0%2038136%2017353%2020783%2045%2C5%2054%2C5%20&op=translate

adding @mizmay

[2021-04-02 22:56] elliotap commented on #115
@nvkelso I looked through the makefile and wanted to confirm that the necessary function is ``make 50m_cultural/ne_50m_airports.shp`` from lines 642-644

[2021-04-04 19:47] mizmay commented on #366
Verified LS_NAME is still "Akureyi". Full output after change:

|values             |ind        |
|:------------------|:----------|
|6                  |SCALERANK  |
|30                 |NATSCALE   |
|8                  |LABELRANK  |
|Admin-1 capital    |FEATURECLA |
|Akureyri           |NAME       |
|NA                 |NAMEPAR    |
|NA                 |NAMEALT    |
|Akureyri           |NAMEASCII

[2021-04-04 19:52] mizmay commented on #369
Verified on Apple Maps, Google Maps and OpenStreetMap https://www.openstreetmap.org/relation/2780191

<img width="338" alt="Screen Shot 2021-04-04 at 12 50 53 PM" src="https://user-images.githubusercontent.com/3074691/113519943-8a90eb00-9544-11eb-84b8-00fb8936e2ff.png">

[2021-04-04 19:57] mizmay commented on #369
|values          |ind        |
|:---------------|:----------|
|4               |SCALERANK  |
|50              |NATSCALE   |
|1               |LABELRANK  |
|Populated place |FEATURECLA |
|Liupanshui      |NAME       |
|NA              |NAMEPAR    |
|NA              |NAMEALT    |
|Liupanshui      |NAMEASCII  |
|0               |ADM0CAP    |
|NA              |CAPIN      |
|0               |WORLDCITY

[2021-04-04 20:20] mizmay commented on #398
|values                           |ind        |
|:--------------------------------|:----------|
|3                                |SCALERANK  |
|110                              |NATSCALE   |
|1                                |LABELRANK  |
|Admin-1 capital                  |FEATURECLA |
|Makassar                         |NAME       |
|NA                               |NAMEPAR    |
|Kota Makassar&#

[2021-04-04 23:04] mizmay commented on #409
| SCALERANK| NATSCALE| LABELRANK|FEATURECLA      |NAME               |NAMEPAR |NAMEALT |NAMEASCII          | ADM0CAP|CAPIN | WORLDCITY| MEGACITY|SOV0NAME |SOV_A3 |ADM0NAME |ADM0_A3 |ADM1NAME           |ISO_A2 |NOTE | LATITUDE| LONGITUDE| POP_MAX| POP_MIN| POP_OTHER| RANK_MAX| RANK_MIN|MEGANAME |LS_NAME | MAX_POP10| MAX_POP20| MAX_POP50| MAX_POP300| MAX_POP310| MAX_NATSCA| MIN_AREAKM| MAX_AREAKM| M

[2021-04-04 23:12] mizmay commented on #414
|values           |ind        |
|:----------------|:----------|
|3                |SCALERANK  |
|110              |NATSCALE   |
|3                |LABELRANK  |
|Populated place  |FEATURECLA |
|Newcastle        |NAME       |
|NA               |NAMEPAR    |
|NA               |NAMEALT    |
|Newcastle        |NAMEASCII  |
|0                |ADM0CAP    |
|NA               |CAPIN      |
|0

[2021-04-04 23:18] mizmay commented on #428
|values           |ind        |
|:----------------|:----------|
|6                |SCALERANK  |
|30               |NATSCALE   |
|2                |LABELRANK  |
|Populated place  |FEATURECLA |
|Sovetskaya Gavan |NAME       |
|NA               |NAMEPAR    |
|NA               |NAMEALT    |
|Sovetskaya Gavan |NAMEASCII  |
|0                |ADM0CAP    |
|NA               |CAPIN      |
|0

[2021-04-04 23:26] mizmay commented on #430
BEFORE:

|NAME          |NAMEPAR |NAMEALT         |NAMEASCII     |SOV0NAME |ADM0NAME |ADM1NAME |MEGANAME        |LS_NAME       |NAME_EN      |NAME_DE      |NAME_ES      |NAME_FR      |NAME_PT      |NAME_RU    |NAME_ZH |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|:-------------|:-------|:---------------|:-----------

[2021-04-04 23:38] mizmay commented on #430
AFTER (all fields):

| SCALERANK| NATSCALE| LABELRANK|FEATURECLA      |NAME         |NAMEPAR |NAMEALT       |NAMEASCII    | ADM0CAP|CAPIN | WORLDCITY| MEGACITY|SOV0NAME |SOV_A3 |ADM0NAME |ADM0_A3 |ADM1NAME |ISO_A2 |NOTE | LATITUDE| LONGITUDE| POP_MAX| POP_MIN| POP_OTHER| RANK_MAX| RANK_MIN|MEGANAME        |LS_NAME       | MAX_POP10| MAX_POP20| MAX_POP50| MAX_POP300| MAX_POP310| MAX_NATSCA| MIN_ARE

[2021-04-04 23:44] mizmay commented on #448
Note this change is not reflected in localizations/Wikidata.

BEFORE:

|      NE_ID|NAME      |NAMEPAR |NAMEALT       |NAMEASCII |SOV0NAME |ADM0NAME |ADM1NAME  |MEGANAME      |LS_NAME   |NAME_EN    |NAME_DE       |NAME_ES   |NAME_FR       |NAME_PT    |NAME_RU  |NAME_ZH  |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|

[2021-04-05 00:13] mizmay commented on #448
AFTER:

|      NE_ID|NAME       |NAMEPAR   |NAMEALT |NAMEASCII  |SOV0NAME |ADM0NAME |ADM1NAME  |MEGANAME      |LS_NAME   |NAME_EN    |NAME_DE       |NAME_ES   |NAME_FR       |NAME_PT    |NAME_RU  |NAME_ZH  |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:----------|:---------|:-------|:----------|:--------

[2021-04-05 00:20] mizmay commented on #450
BEFORE:
|      NE_ID|NAME | LATITUDE| LONGITUDE|
|----------:|:----|--------:|---------:|
| 1159146401|Bodø | 67.24677|  14.39901|

[2021-04-05 00:21] mizmay commented on #450
AFTER:
|      NE_ID|NAME | LATITUDE| LONGITUDE|
|----------:|:----|--------:|---------:|
| 1159146401|Bodø | 67.27643|  14.42928|

[2021-04-05 00:23] mizmay commented on #452
BEFORE

|      NE_ID|NAME        |NAMEPAR |NAMEALT |NAMEASCII   |SOV0NAME        |ADM0NAME        |ADM1NAME |MEGANAME |LS_NAME     |NAME_EN   |NAME_DE   |NAME_ES   |NAME_FR    |NAME_PT   |NAME_RU   |NAME_ZH    |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:-----------|:-------|:-------|:-----------|:----

[2021-04-05 00:28] mizmay commented on #452
AFTER:

|      NE_ID|NAME      |NAMEPAR |NAMEALT     |NAMEASCII |SOV0NAME        |ADM0NAME        |ADM1NAME |MEGANAME |LS_NAME     |NAME_EN   |NAME_DE   |NAME_ES   |NAME_FR    |NAME_PT   |NAME_RU   |NAME_ZH    |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:---------|:-------|:-----------|:---------|:----

[2021-04-05 00:31] mizmay commented on #454
Here we go!

BEFORE:

|      NE_ID|NAME        |NAMEPAR |NAMEALT |NAMEASCII   |SOV0NAME |ADM0NAME |ADM1NAME   |MEGANAME |LS_NAME     |NAME_EN     |NAME_DE    |NAME_ES    |NAME_FR    |NAME_PT |NAME_RU    |NAME_ZH  |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:-----------|:-------|:-------|:-----------|:-

[2021-04-05 00:35] mizmay commented on #454
AFTER:

|      NE_ID|NAME       |NAMEPAR     |NAMEALT |NAMEASCII  |SOV0NAME |ADM0NAME |ADM1NAME   |MEGANAME |LS_NAME     |NAME_EN     |NAME_DE    |NAME_ES    |NAME_FR    |NAME_PT |NAME_RU    |NAME_ZH  |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:----------|:-----------|:-------|:----------|:--------|:-

[2021-04-05 00:42] mizmay commented on #468
BEFORE

|      NE_ID|NAME | LATITUDE| LONGITUDE|
|----------:|:----|--------:|---------:|
| 1159146401|Bodø | 67.27643|  14.42928|

[2021-04-05 00:45] mizmay commented on #468
AFTER

|      NE_ID|NAME    | LATITUDE| LONGITUDE|
|----------:|:-------|--------:|---------:|
| 1159147661|Windsor | 42.31546| -83.03685|

[2021-04-05 00:52] mizmay commented on #483
Recommendations & research above make sense to me!

BEFORE

|      NE_ID|NAME   |NAMEPAR |NAMEALT                    |NAMEASCII |SOV0NAME |ADM0NAME |ADM1NAME  |MEGANAME                |LS_NAME |NAME_EN     |NAME_DE      |NAME_ES          |NAME_FR |NAME_PT |NAME_RU |NAME_ZH |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI

[2021-04-05 00:58] mizmay commented on #483
AFTER

|      NE_ID|NAME        |NAMEPAR |NAMEALT   |NAMEASCII   |SOV0NAME |ADM0NAME |ADM1NAME  |MEGANAME                |LS_NAME |NAME_EN     |NAME_DE      |NAME_ES          |NAME_FR |NAME_PT |NAME_RU |NAME_ZH |NAME_AR |NAME_BN |NAME_EL |NAME_HI |NAME_HU |NAME_ID |NAME_IT |NAME_JA |NAME_KO |NAME_NL |NAME_PL |NAME_SV |NAME_TR |NAME_VI |
|----------:|:-----------|:-------|:---------|:-----------|:-

[2021-04-05 05:42] mizmay commented on #412
I am following @elliotap and would be happy to include your best guess/reasoning (maybe it's just a very big range between POP_MIN and POP_MAX?) to https://github.com/nvkelso/natural-earth-vector/pull/508

[2021-04-05 05:43] mizmay commented on #338
@elliotap @nvkelso shall I include this in https://github.com/nvkelso/natural-earth-vector/pull/508?

[2021-04-06 00:29] elliotap commented on #412
Proposed below are population updates for cities surrounding Korla with best available numbers, with the caveat that I do not feel highly confident that these are precise numbers, but that the balance is right. First-hand census information was inaccessible/hard to find except through linked sources, often with dead links, and the numbers in the population column are for prefecture-level cities ra

[2021-04-06 04:52] nvkelso commented on #412
These proposed values work for me, thanks @elliotap! Over to @mizmay :)

[2021-04-06 05:12] nvkelso commented on #338
@elliotap Thanks for the further research on Hilf (Dawwah).

Yes, @mizmay this is ready for inclusion into #508, thanks! Note there are multiple changes to separate NE features in this issue.

[2021-04-06 05:45] nvkelso commented on #369
Works for me.

[2021-04-06 06:05] nvkelso commented on #430
@elliotap can you verify the wikidataid is good-as is, or document what should change, please?

[2021-04-06 06:21] nvkelso commented on #452
I think the **NAME** and **NAMEASCII** should be `Famagusta`, but the earlier name should be **NAMEPAR** = `Ammochostos` (not **NAMEALT**) to recognize the historical and conflict status.

[2021-04-06 06:32] nvkelso commented on #459
All the proposed changes look good to me, over to @mizmay

[2021-04-06 06:33] nvkelso commented on #458
The value changes look good to me.

[2021-04-06 06:37] nvkelso commented on #460
I think for **Bol'sheretsk**  the existing `Q2502620` via #334 is okay as-is.

[2021-04-06 06:44] nvkelso commented on #461
These look good to me.

[2021-04-06 18:00] elliotap commented on #430
@nvkelso wikidata values are good as-is

for ``Shijiazhuang``, ``wikidataid=Q58401`` - https://www.wikidata.org/wiki/Q58401
for ``Xiangyang``, ``wikidataid=Q71284`` - https://www.wikidata.org/wiki/Q71284

[2021-04-06 21:17] elliotap commented on #429
Verified

Proposed Changes: Update region names and codes per https://fr.wikipedia.org/wiki/ISO_3166-2:FR, as seen in table below. Region codes will be modified for all features, and region names updated where they were changed ( "-" indicates no change)

For overseas departments, value for region code is currently department code. Proposing to update these also to 3 letter region codes, to standa

[2021-04-06 21:51] mizmay commented on #412
@elliotap @nvkelso Please advise on the specific transformation? Values in the "Proposed Population" column go to which column, and what additional modifications make sense for POP_MIN, POP_OTHER, etc?

[2021-04-06 22:15] nvkelso commented on #412
@mizmay please set **POP_MAX** to the `Proposed Population`, and leave the other columns alone for now.

[2021-04-06 23:16] elliotap commented on #396
@nvkelso I've been holding off on admin 1s, but now ready to get going on them. With #508 ongoing and some populated places edits associated with the admin 1 changes, what sort of queue would you prefer for PRs?

[2021-04-07 02:01] mizmay commented on #338
Changing POP_MAX to 8500. POP_MIN is currently set to 971. Does retaining this latter value make sense?

[2021-04-07 02:39] mizmay commented on #412
AFTER

| SCALERANK| NATSCALE| LABELRANK|FEATURECLA      |NAME    |NAMEPAR |NAMEALT            |NAMEASCII | ADM0CAP|CAPIN | WORLDCITY| MEGACITY|SOV0NAME |SOV_A3 |ADM0NAME |ADM0_A3 |ADM1NAME       |ISO_A2 |NOTE | LATITUDE| LONGITUDE| POP_MAX| POP_MIN| POP_OTHER| RANK_MAX| RANK_MIN|MEGANAME         |LS_NAME | MAX_POP10| MAX_POP20| MAX_POP50| MAX_POP300| MAX_POP310| MAX_NATSCA| MIN_AREAKM| MAX_AREAKM|

[2021-04-07 04:05] mizmay commented on #455
After

|      NE_ID|NAME          |NAMEASCII     |NAMEPAR     |WIKIDATAID |
|----------:|:-------------|:-------------|:-----------|:----------|
| 1159130275|Genhe         |Genhe         |Ergun Zuoqi |Q1354108   |
| 1159130301|Hanggin Houqi |Hanggin Houqi |NA          |Q1202314   |
| 1159141109|Alxa Zuoqi    |Alxa Zuoqi    |NA          |Q1367222   |
| 1159141123|Bairin Zuoqi  |Bairin Zuoqi  |Lindo

[2021-04-07 04:22] mizmay commented on #458
BEFORE

|      NE_ID|NAME     |WIKIDATAID |
|----------:|:--------|:----------|
| 1159130307|Qinggang |Q1197347   |
| 1159130333|Suileng  |Q1197498   |
| 1159140833|Wenshan  |Q1371362   |
| 1159141055|Liuhe    |Q1361265   |
| 1159141079|Wangqing |Q699138    |
| 1159141183|Tailai   |Q1333142   |
| 1159141193|Gannan   |Q562234    |
| 1159141223|Lanxi    |Q379189    |
| 1159141231|Nancha   |Q476833

[2021-04-07 17:01] nvkelso commented on #338
You can set POP_MIN to `8500` as well, good catch!

[2021-04-07 22:39] elliotap commented on #459
Verified, see table below with recommended actions:

NE ID | Former WD | Proposed WD | Recommended Action
-- | -- | -- | --
1159150235 | Q2220 | Q1743985 | change WD
1159149079 | Q2486 | Q131233 | change WD
1159143805 | Q5073210 | Q2957549 | change WD
1159136041 | Q883774 | Q16890238 | change WD
1159132375 | Q16896007 | Q192098 | change WD
1159130545 | Q746606 | Q55342984 | change WD, POP_MAX/MIN/

[2021-04-07 23:21] elliotap commented on #461
Verified - proposed changes below @mizmay

NE ID | Former WD | Proposed WD | Recommended Action
-- | -- | -- | --
1159139143 |   | Q2597463 | this town is no longer the admin-1 capital - feature should be   moved to 19.451895771215643, 103.19599722986072, name changed to Phonsavan   (https://en.wikipedia.org/wiki/Phonsavan), population changed to 37507, WD   changed to Q1011711
1159140703 |   | Q5

[2021-04-08 00:19] elliotap commented on #447
@mizmay Verified - see table below for recommended fixes

ne_id | old_wof | new_id | Recommended Action
-- | -- | -- | --
1159136389 | 1141907109 | 421190297 | change id
1159146257 | 101720571 | 101720567 | change id
1159146503 | 102002573 | 1175613621 | change id
1159146881 | 890512949 | 102027991 | change id
1159147443 | 85817091 | 85981333 | change id
1159148225 | 101913781 | 101913783 | change

[2021-04-08 05:04] mizmay commented on #459
AFTER

|      NE_ID|NAME                 |NAMEASCII            |NAMEALT         |WIKIDATAID |
|----------:|:--------------------|:--------------------|:---------------|:----------|
| 1159113499|Antakya              |Antakya              |Antioch         |Q80561     |
| 1159130545|Chuquicamata         |Chuquicamata         |NA              |Q55342984  |
| 1159132375|Oymyakon             |Oymyakon

[2021-04-08 05:52] mizmay commented on #447
AFTER

|      NE_ID|NAME             |NAMEASCII        |NAMEPAR   |NAMEALT                               |WIKIDATAID |     WOF_ID|
|----------:|:----------------|:----------------|:---------|:-------------------------------------|:----------|----------:|
| 1159136389|Ad Damman        |Ad Damman        |NA        |Ad-Dammam                             |Q160320    |  421190297|
| 1159146257|Providen

[2021-04-08 22:05] elliotap commented on #460
Verified - see table below for proposed changes @mizmay

ne_id | ne_name | best candidate in wikidata | link | _distance_category | Recommendation
-- | -- | -- | -- | -- | --
1159148783 | Aripuana | Aripuanã | https://www.wikidata.org/wiki/Q1805412 | 150-200km | move geometry to -10.17666,-59.44387, add WD (confirmed with   google & OSM, see   https://www.openstreetmap.org/node/343588838#map=17/-1

[2021-04-08 22:17] mizmay commented on #461
BEFORE

(only those that are changing per @elliotap's comments above, so 1159148901 and 1159140703 excluded)

|      NE_ID|NAME           |NAMEASCII      |NAMEPAR |NAMEALT        |WIKIDATAID |     WOF_ID|FEATURECLA         | POP_MAX| POP_MIN| POP_OTHER|
|----------:|:--------------|:--------------|:-------|:--------------|:----------|----------:|:------------------|-------:|-------:|---------:|
|

[2021-04-08 23:08] mizmay commented on #461
Nice work @elliotap!

I followed along and annotated with comments where I incorporated these changes in the PR, the only thing I saw worth mentioning is that in the Wikidata entry for Serdar (Q1015618), there are two "Also known as" entries, Gyzylarbat and Kyzyl-Arvat. I set NAMEALT to Gyzylarbat, as this was the previous value, but weigh in if NAMEALT/NAMEPAR should be assigned differently.

[2021-04-08 23:44] elliotap commented on #461
I took a look at google scholar instances for both, and both return meaningful results. In publications since 1980, Kyzyl-Arvat looks to be preferred to Gyzylarbat as a spelling/stylization by about 2:1

I'd speculate the variation stems from Turkmenistan using arabic, latin, and cyrillic alphabets in the 20th century (https://en.wikipedia.org/wiki/Turkmen_alphabet)

[2021-04-12 14:15] Bonurbe opened #511 "Missing Tuvalu in 50M dataset"
Hello,

I just downloaded the 50M dataset (countries and map sub-units) and both are missing Tuvalu which is an independent country like Nauru, Palau and other small island countries in the Pacific.

Thank you,
Bruno

[2021-04-12 22:04] nvkelso commented on #511
Those tiny countries are in a separate download:

- https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/50m/cultural/ne_50m_admin_0_tiny_countries.zip

[2021-04-13 16:59] Bonurbe commented on #511
Tuvalu is a sovereign country just like Nauru, Vatican City, Monaco, San Marino, ... and they are all part of the 50M Sovereignty dataset.

Can Tuvalu be added to it?

Thanks,
Bruno

[2021-04-15 21:07] nvkelso commented on #511
@Bonurbe Can you tell me more about your use case? Are you doing thematic mapping my country (more typical) or sovereign country (extremely rare)?

Also worth noting that in v5 of Natural Earth (in development) we'll support different "worldview" or "point-of-view" for administrative boundaries. Are you the right person at World Bank to add an organizational viewpoint (while the launch viewpoints

[2021-04-15 21:24] nvkelso commented on #482
Fixed via #504.

[2021-04-15 21:24] #482 closed

[2021-04-15 21:32] nvkelso commented on #376
Fixed via https://github.com/nvkelso/natural-earth-vector/pull/497.